// ------------------------------------------------------- form display classes

#page-display-options,
.add-page-form,
.hide-page-sort-icon {
    display: none;
}


// ------------------- side navigation bar used for main app and settings pages

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 999;
    transition: all 0.7s cubic-bezier(0.21, 0.885, 0.38, 0.96);
    background-color: $onyx;
    color: $white;

    h5>span {
        vertical-align: middle;
        
    }

    .toggle-pos {
        position: absolute;
        top: 0;
    }

    .logo {
        display: block;
        margin: 2rem auto 4rem;
        width: 140px;
        border-radius: 50%;
        border: 10px solid $logo-blue;
    }

    // settings pages / users pages
    ul {
        margin: 0 1rem 3rem;

        li .page-name,
        li .nav-link {
            color: $white;
            text-decoration: none;
        }

        .active {
            border-radius: 3px;
            background-color: $white;

            .page-name,
            .nav-link {
                color: $black;
            }
        }
    }

    .menu-close {
        position: absolute;
        bottom: 10px;
        right: calc(50% - 2rem / 1.5);

        .fa-times {
            position: absolute;
            top: -2px;
        }
    }
}

#sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.add-bm-btn-sidebar {
    h5 {
        display: inline-block;
        background-color: white;
        color: $onyx;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid $white;
        font-size: 1.5rem;
        font-weight: 600;

        i {
            margin-right: 0.5rem;
            color: $black;
        }
    }

    transition: 0.25s ease-out;

    &:hover {
        opacity: .8;
    }
}

// control when sidebar is displayed / hidden
.display-switch {
    margin-left: -300px;
}

@media (max-width: 767px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.display-switch {
        margin-left: 0;
    }
}

#add-page-btn i,
#page-sort-btn i {
    width: 1rem;
}

.page-sort-active {
    background-color: $green;
    border: 1px solid $green;
}

#add-page-form-wrapper {
    background-color: $white;
    border-radius: 3px;
}

.add-page-form,
.edit-page-form {
    color: $black;
    font-size: .8rem;
    overflow: hidden;

    h6 {
        padding: 1rem 0 .5rem;
    }
}

