{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Register{% endblock %}

{% block content %}

{% include 'pages/components/nav.html' %}

<!-- messages -->
{% include 'components/messages.html' %}

<div class="container set-min-height">
    <div class="row">
        <div class="col-10 col-md-7 col-lg-6 col-xl-5 user-auth-container">
            <h3>Reset Your Password</h3>
            <p class="my-4 mx-3 text-justify">Enter the email you used to register your account in form below and instructions on how to reset your
                password will be emailed to you.</p>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
{% include 'pages/components/footer.html' %}

{% endblock %}