{% extends 'base.html' %}

{% block page_title %}Password Reset{% endblock %}

{% block content %}

{% include 'pages/components/nav.html' %}

<div class="container set-min-height">
    <!-- messages -->
    {% include 'components/messages.html' %}

    <div class="row">
        <div class="col-10 col-md-7 col-lg-6 col-xl-5 user-auth-container text-center">

            {% if validlink %}
            <h3>Reset Password</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Change password</button>
            </form>
            {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
            {% endif %}

        </div>
    </div>
</div>

<!-- Footer -->
{% include 'pages/components/footer.html' %}

{% endblock %}