{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Password Reset{% endblock %}

{% block content %}

<div class="icon-tile-bg-wrapper">
    <div class="pw-control set-min-height">
        {% include 'pages/components/nav.html' %}
        <div class="container-fluid">
            <div class="container">
                <!-- messages -->
                {% include 'components/messages.html' %}
                
                <div class="row">
                    <div class="col-10 col-md-7 col-lg-6 col-xl-5 user-auth-container">
                        <h4>Reset Your Password</h4>
                        <p class="my-4 mx-3 text-justify">Enter the email you used to register your account in the form
                            below and instructions on how to reset your
                            password will be emailed to you.</p>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn--standard">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
{% include 'pages/components/footer.html' %}

{% endblock %}