{% extends 'base.html' %}

{% block page_title %}Password Reset Sent{% endblock %}

{% block content %}

<div class="icon-tile-bg-wrapper">
    <div class="pw-control set-min-height">
        {% include 'pages/components/nav.html' %}
        <div class="container-fluid">
            <div class="container">
                <!-- messages -->
                {% include 'components/messages.html' %}

                <div class="row">
                    <div class="col-10 col-md-7 col-lg-6 col-xl-5 user-auth-container text-center">
                        <p>
                            Instructions for resetting your password have been emailed to the address entered.
                        </p>
                        <p>
                            If you do not receive an email, please make sure you've entered the address you registered
                            with,
                            and check your spam folder.
                        </p>
                        <a class="btn--standard mt-3" href="{% url 'login' %}">Back To Login Page</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Footer -->
{% include 'pages/components/footer.html' %}

{% endblock %}