{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Premium{% endblock %}

{% block content %}

<div class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'accounts/components/sidebar_settings.html' %}

    <!-- Content -->
    <div id="content" class="icon-tile-bg-wrapper">
        <div class="bg-fade">
        {% include 'components/top-nav.html' %}

        <!-- messages -->
        {% include 'components/messages.html' %}

        {% if is_premium %}
        <!-- thanks -->
        <div class="premium-thanks-center">
            <div class="row align-self-center mx-auto text-center">
                <div class="col-12 display-4 px-5">Thanks for being a
                    <span class="badge badge-success m-2 p-2">PREMIUM</span>
                    member!
                </div>
            </div>
        </div>
        {% else %}
        <!-- premum pitch -->

        <div class="container-fluid text-center">

            <div>
                <div class="display-4">Go Premium</div>
            </div>
            <div class="my-5">
                <h5>With Premium membership you get</h5>
                <ul class="list-unstyled">
                    <li>No Ads. Ever!</li>
                    <li>Unlimited Bookmarks</li>
                    <li>Unlimited Categories</li>
                    <li>Unlimited Pages</li>
                    <li>Priority Telephone Support</li>
                    <li>Access to New Features First</li>
                </ul>
            </div>
            <div class="my-5">
                <h5>Lifetime access for just</h5>
                <div class="btn btn-primary my-3">£20</div>
                <div><small>Lifetime access is a limited time only offer for the first 1000 members</small></div>
                <div><small>After this, a monthly / annual fee will apply</small></div>
            </div>

            <!-- premium sign up form -->
            <div class="border py-3">
                <h5 class="my-4">Sign Up Forms</h5>
                <hr>
                <form role="form" method="POST" id="payment-form" class="p-2 mt-3">
                    <legend>Payment Details</legend>
                    <div id="credit-card-errors" style="display: none">
                        <div class="alert-message block-message error" id="stripe-error-message"></div>
                    </div>

                    <div class="form-group">
                        {{ purchase_premium_form.as_p }}
                    </div>

                    <div class="form-group">
                        {{ payment_form.as_p }}
                    </div>

                    {% csrf_token %}
                    <div class="form-group col-md-12">
                        <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit"
                            value="Submit Payment">
                    </div>
                </form>
            </div>
        </div>
        {% endif %}


        <!-- banner ad -->
        {% include 'components/advert.html' with advert_path="img/ads/banner.png" %}

    </div>
</div>
{% endblock %}

{% block stripe_js %}
<!-- stripe js -->
<script src="https://js.stripe.com/v2"></script>
<script>
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}