// -------------------------------------- page setup and override some defaults

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(250, 250, 250, 0.9);
}

a {
    color: $black;

    &:hover {
        text-decoration: none;
        color: $black;
    }
}

input {
    border-radius: .25rem;
    border: 1px solid #ced4da;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: $onyx;
}
