// ------------------------------------------------------------------ variables

// - colors - solid - //
$white: #ffffff;
$black: #000000;
$dark-grey: #424242;
$light-grey: #ececec;
$logo-blue: #175c9d;
$onyx: #343a40;
$error-red: #e36868;
$green: #76E26A;
$info-green: #52BD97;
$test-color: #f2ef35;

// - colors - alpha - //
$gunmetal-alpha: rgba(41, 46, 51, 0.99);
$dark-blue-alpha: rgba(36, 37, 53, 0.98);

// - spacing - //
$topnav-spacer-height: 90px;
$navbar-spacer-height: 168px;
$footer-height: 116px;