html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(250, 250, 250, 0.9);
}

a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

.label {
  padding: 0.2rem 0.4rem;
  margin: 0 0.2rem;
  border: 1px solid black;
  color: black;
  white-space: nowrap;
}

.label-small {
  font-size: 0.8rem;
}

.btn--standard {
  background-color: #424242;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.btn--standard:hover {
  background-color: transparent;
  color: #000000;
}

.btn--white {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  color: #424242;
  display: inline-block;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.btn--white:hover {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.btn--invert {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  color: #000000;
  display: inline-block;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.btn--invert:hover {
  background-color: #424242;
  color: #ffffff;
}

.btn--square {
  position: relative;
  width: 5rem;
  height: 5rem;
  background-color: #424242;
  border: 2px solid #424242;
  border-radius: 0.25rem;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.btn--square span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.25rem 0.4rem;
  text-align: right;
  line-height: 1rem;
}

.btn--square:hover {
  background-color: transparent;
  color: #424242;
}

.btn--square-invert {
  position: relative;
  width: 5rem;
  height: 5rem;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.35rem;
  color: #000000;
  display: inline-block;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.btn--square-invert span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.25rem 0.4rem;
  text-align: right;
  line-height: 1rem;
}

.btn--square-invert:hover {
  background-color: transparent;
  color: #ffffff;
}

.btn--slide {
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  position: relative;
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
  white-space: nowrap;
}

.btn--slide span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: inherit;
  opacity: 0;
  color: #ffffff;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.btn--slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #175c9d;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.btn--slide:hover:before {
  width: 100%;
}

.btn--slide:hover span {
  opacity: 1;
}

.tippy-i .fa-square {
  margin-top: 0.35rem;
  font-size: 1.2rem;
  color: #343a40;
  padding: 0.75rem 1.75rem 0.75rem 0.75rem;
  top: -12px;
  left: -4px;
}

@media only screen and (min-width: 576px) {
  .tippy-i .fa-square {
    padding: 0;
    top: 0;
    left: 0;
  }
}

.tippy-i .fa-info {
  font-size: 0.7rem;
}

.tippy-tooltip.dark-theme {
  background-color: #353535;
  color: #ffffff;
}

.tippy-tooltip.dark-theme[data-placement^="top"] .tippy-arrow {
  border-top-color: #353535;
}

.messages {
  background-color: #ffffff;
  padding: 0;
}

.messages .alert {
  margin-bottom: 0;
}

.messages .alert .close {
  cursor: pointer;
}

#pages-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(250, 250, 250, 0.9);
}

@media only screen and (min-width: 576px) {
  #pages-nav {
    padding: 0.5rem 15px;
  }
}

#pages-nav .navbar-title {
  text-align: center;
  margin-top: 1rem;
}

#pages-nav .navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  font-weight: 600;
}

#pages-nav .navbar-items .navbar-link {
  display: block;
  padding-bottom: 0.5rem;
  margin: 0.5rem 1rem;
}

#pages-nav .navbar-items .navbar-link a {
  position: relative;
  text-decoration: none;
}

#pages-nav .navbar-items .navbar-link a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -14.5px;
  height: 5px;
  width: 0;
  left: 50%;
  background: #175c9d;
  -webkit-transition: width 0.2s, left 0.2s;
  transition: width 0.2s, left 0.2s;
}

#pages-nav .navbar-items .navbar-link a:hover:after {
  width: 100%;
  left: 0;
}

#pages-nav .navbar-items .active {
  border-bottom: 5px solid #175c9d;
}

.mobile-menu {
  position: absolute;
  top: 2vw;
  left: 5vw;
  font-size: 1.8rem;
}

.nav-border {
  border-bottom: 1px solid #aaaaaa;
}

.navbar-spacer {
  height: 168px;
  background-color: transparent;
}

#topnav {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  #topnav {
    width: calc(100% - 300px);
  }
}

.topnav-spacer {
  height: 90px;
}

#topnav-icons i {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  #topnav-icons i {
    font-size: 2rem;
  }
}

.dropright .dropdown-menu {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  overflow: hidden;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  display: block;
}

.dropright:hover .dropdown-menu {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.dropright .dropdown-menu {
  width: 200px;
  padding: 0;
}

#sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 999;
  -webkit-transition: all 0.7s cubic-bezier(0.21, 0.885, 0.38, 0.96);
  transition: all 0.7s cubic-bezier(0.21, 0.885, 0.38, 0.96);
  background-color: #343a40;
  color: #ffffff;
}

#sidebar .toggle-pos {
  position: absolute;
  top: 0;
}

#sidebar .logo {
  display: block;
  margin: 2rem auto 4rem;
  width: 140px;
  border-radius: 50%;
  border: 10px solid #175c9d;
}

#sidebar ul {
  margin: 3rem 1rem 0;
}

#sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
}

#sidebar ul .active {
  background-color: #ffffff;
}

#sidebar ul .active a {
  color: #000000;
}

#sidebar .menu-close {
  position: absolute;
  bottom: 10px;
  right: calc(50% - 2rem / 1.5);
}

#sidebar .menu-close .fa-times {
  position: absolute;
  top: -2px;
}

#sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.add-bm-btn-sidebar h4 {
  display: inline-block;
  background-color: white;
  color: #343a40;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.add-bm-btn-sidebar h4 i {
  margin-right: 0.5rem;
  color: #000000;
}

.display-switch {
  margin-left: -300px;
}

@media (max-width: 767px) {
  #sidebar {
    margin-left: -300px;
  }
  #sidebar.display-switch {
    margin-left: 0;
  }
}

#footer-section {
  background-color: #000000;
}

#footer-section .content {
  padding: 1rem;
  text-align: center;
  color: #ffffff;
}

#footer-section .content .social-icons {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.75rem;
  color: #ffffff;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

#footer-section .content .social-icons:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: white;
  color: #000000;
}

.border {
  border: 1px solid #000000;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.vertical-bar-left {
  border-left: 14px solid #343a40;
  padding-left: 1.4rem;
}

.vertical-bar-right {
  border-right: 14px solid #ffffff;
  padding-right: 1.4rem;
}

.or-log-in a {
  color: #888888;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.or-log-in a:hover {
  color: #222222;
}

.icon-tile-bg-wrapper {
  background-image: url("/static/img/bg/icon_tile.png");
  background-repeat: repeat;
}

.px-space {
  height: 1px;
}

#create-account-section {
  background-color: rgba(255, 255, 255, 0.96);
}

h4 > .fa-stop {
  color: #175c9d;
}

.section-square-wrapper {
  position: relative;
}

.section-square-wrapper .section-square {
  position: absolute;
  top: -44px;
  width: 90px;
  height: 90px;
  padding-top: 0.7rem;
  font-size: 0.8rem;
  border: 2px solid #343a40;
  text-align: center;
  background-color: #175c9d;
  color: #ffffff;
}

.section-square-wrapper .square-left {
  left: 8%;
}

.ajax-progress-hide {
  display: none;
}

.ajax-progress-show {
  display: inline-block;
}

.display-toggle {
  display: none;
}

#content {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.7s cubic-bezier(0.21, 0.885, 0.38, 0.96);
  transition: all 0.7s cubic-bezier(0.21, 0.885, 0.38, 0.96);
}

#content .bg-fade {
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.98);
}

@media (min-width: 768px) {
  #content {
    width: calc(100% - 300px);
  }
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.flex-wrapper .no-scroll {
  overflow: hidden;
  height: 100%;
}

#index-page section {
  padding-top: 6rem;
  padding-bottom: 6rem;
  border-bottom: 2px solid #aaaaaa;
}

#headline-section {
  background-color: rgba(255, 255, 255, 0.98);
}

.display-icon-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  gap: 4px;
  border: 4px solid black;
  border-radius: 6px;
  padding: 0.25rem;
}

.display-icon-grid .icon-grid-item {
  background-color: transparent;
}

.display-icon-grid .icon-grid-item img {
  width: 100%;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.display-icon-grid .icon-grid-item img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border-radius: 8px;
}

#features-section {
  background-color: rgba(41, 46, 51, 0.99);
  color: white;
}

#features-section img {
  width: 50%;
}

@media only screen and (min-width: 992px) {
  #features-section img {
    width: 80%;
  }
}

#features-section p {
  direction: rtl;
}

#chrome-ext-section {
  background-color: rgba(255, 255, 255, 0.96);
}

#chrome-ext-section img {
  width: 50%;
  border: 3px solid #000000;
  border-radius: 4px;
}

@media only screen and (min-width: 992px) {
  #chrome-ext-section img {
    width: 80%;
  }
}

#testimonials-section {
  background-color: rgba(36, 37, 53, 0.98);
  color: #ffffff;
}

#testimonials-section h1 {
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 1rem 1.25rem;
}

#testimonialCarousel {
  color: #ffffff;
}

#testimonialCarousel .carousel-inner .testimonial {
  background-color: transparent;
}

#testimonialCarousel .carousel-inner .testimonial .img-container {
  text-align: center;
  margin-bottom: 3rem;
}

#testimonialCarousel .carousel-inner .testimonial .img-container img {
  height: 200px;
}

#testimonialCarousel .carousel-inner .testimonial .quote {
  padding: 0 2rem;
  text-align: center;
}

#testimonialCarousel .carousel-inner .testimonial .quote_by {
  text-align: right;
}

#testimonialCarousel .controls {
  width: 5%;
}

#testimonialCarousel .controls i {
  font-size: 3rem;
  color: #ffffff;
}

#testimonialCarousel .carousel-control-next,
#testimonialCarousel .carousel-control-prev {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 60%;
}

#testimonialCarousel .carousel-indicators {
  bottom: -40px;
}

#testimonialCarousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 0.5rem;
  background: #eeeeee;
  border: 4px solid #ffffff;
}

#testimonialCarousel .carousel-indicators li.active {
  color: #ffffff;
  background: rgba(36, 37, 53, 0.98);
  border: 4px solid;
}

#pricing-page section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

#pricing-text-section {
  background-color: rgba(255, 255, 255, 0.98);
}

#pricing-text-section img {
  width: 80%;
}

@media only screen and (min-width: 992px) {
  #pricing-text-section img {
    width: 100%;
  }
}

#pricing-table-section {
  background-color: rgba(41, 46, 51, 0.99);
}

#pricing-table-section table {
  background-color: transparent;
  padding: 4rem;
}

#pricing-table-section .offer-box {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 8px;
}

#faq-page section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

#faq-section {
  background-color: rgba(255, 255, 255, 0.98);
}

#faq-section h2 {
  display: inline-block;
  background-color: rgba(41, 46, 51, 0.99);
  color: #ffffff;
  margin-bottom: 0;
  padding: 1rem 1.25rem;
  border: 1px solid #000000;
  border-radius: 5px;
}

#faq-section .other-questions {
  display: inline-block;
  background-color: transparent;
  margin: 3.5rem auto;
  padding: 2rem;
}

#faq-accordion {
  background-color: rgba(255, 255, 255, 0);
  padding: 0.5rem;
}

#faq-accordion .card {
  border-width: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

#faq-accordion .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: transparent;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

#faq-accordion .card .card-header:hover, #faq-accordion .card .card-header:active {
  cursor: pointer;
  background-color: rgba(41, 46, 51, 0.99);
  color: #ffffff;
}

#faq-accordion .card .card-header i {
  padding-right: 1rem;
}

#faq-accordion .card .card-body {
  text-align: justify;
  text-justify: inter-word;
}

#contact-form-section {
  background-color: rgba(36, 37, 53, 0.98);
  color: #ffffff;
}

#contact-form-section .form-container {
  margin: 0 auto;
}

#login,
#register,
.pw-control {
  background-color: rgba(255, 255, 255, 0.6);
}

.set-min-height {
  min-height: calc(100vh - 116px);
}

.user-auth-container {
  background-color: #ffffff;
  border: 2px solid #888888;
  border-radius: 5px;
  margin: 3rem auto 2rem;
  padding: 1.5rem;
}

.user-auth-container h3 {
  text-align: center;
}

.user-auth-container form {
  margin: 2rem 1rem;
}

.user-auth-container form .pw-reset {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.user-auth-container form .pw-reset a {
  color: #888888;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.user-auth-container form .pw-reset a:hover {
  color: #222222;
}

.user-auth-container button {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#about-app .logo-img {
  height: 186px;
  width: 186px;
  border: 14px solid #175c9d;
  border-radius: 50%;
}

#about-app i {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

#about-app i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #175c9d;
}

@media only screen and (min-width: 992px) {
  .profile-forms {
    border: 1px solid #aaaaaa;
  }
}

.number-box {
  border: 1px solid #175c9d;
  background-color: #175c9d;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.1rem 0.5rem 0.1rem;
  margin: 0.25rem;
  border-radius: 4px;
}

.premium-tel-box {
  border: none;
  padding: 4rem 1rem 2rem;
  border: 2px solid #343a40;
  border-radius: 3px;
}

#premium .set-height {
  min-height: calc(80vh - 90px);
}

.premium-features-box {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3rem 0 1rem;
  border: 2px solid #343a40;
  border-radius: 3px;
}

@media only screen and (min-width: 576px) {
  .premium-features-box {
    padding: 4rem 1rem 1.5rem;
  }
}

.premium-features-box li {
  text-align: center;
  font-size: 1rem;
  padding: 0.8rem;
}

@media only screen and (min-width: 576px) {
  .premium-features-box li {
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
}

.premium-features-box li i {
  display: inline-block;
  margin: auto;
  border-radius: 5px;
  padding: 0.8rem;
  font-size: 2rem;
  color: #175c9d;
}

@media only screen and (min-width: 576px) {
  .premium-features-box li i {
    font-size: 3rem;
    padding: 1rem;
  }
}

.premium-features-box li strong {
  display: block;
}

.price-block {
  background-color: #343a40;
  color: #ffffff;
  border-radius: 3px;
  margin: 5rem auto;
  padding: 2rem;
}

.price-block .price {
  background-color: #ffffff;
  color: #343a40;
  font-size: 1.8rem;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
}

.payment-tooltip {
  position: relative;
  top: -2px;
  left: -4px;
}

#credit-card-errors {
  background-color: #e36868;
  color: #ffffff;
  margin: 0.75rem 0;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.column {
  color: black;
}

.link-desc {
  font-size: 0.8rem;
}

.link-url {
  font-size: 0.6rem;
}

.text-trunc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bm-link {
  color: #616161;
}

.bm-link:hover {
  color: #616161;
}

#img-preview {
  height: 100px;
  max-width: 60vw;
}

#add-page-form {
  display: none;
}

.edit-page-form {
  display: none;
}

.hide-page-sort-icon {
  display: none;
}

.rename-collection-form {
  display: none;
}

.collection-container {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  background-color: #eeeeee;
  border-radius: 3px;
  padding: 0.4rem 0.7rem;
}

.collection-container .collection-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.collection-container .collection-title .collection-title-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
}

.collection-container .collection-icons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 1.2rem;
}

.bm-container {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bm-container .bm-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.bm-container .bm-title .bm-title-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bm-container .bm-title .bm-options-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 0.5rem;
  font-size: 0.7rem;
  padding: 0 0.25rem;
}

.bm-icons-show-hide {
  display: none;
}

.bm-icons-show-hide .bm-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bm-icons-show-hide .bm-icons-container .bm-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.15rem 0.25rem 0.15rem 0;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
}

.bm-text-container {
  margin-left: 0.3rem;
  min-width: 0;
}

.default-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.default-icon .icon-text {
  color: white;
}

.result-location {
  font-size: 0.8rem;
  margin-top: 0.35rem;
  padding: 0.15rem 0.25rem;
}

.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.sk-fading-circle {
  width: 90px;
  height: 90px;
  left: 50%;
  top: 45vh;
  position: absolute;
  z-index: 3000;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2000;
}
/*# sourceMappingURL=main.css.map */