.flex-wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
}

#sidebar.toggle {
    margin-left: -300px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.toggle {
        margin-left: 0;
    }
}