.parent {
    background-color:aqua;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
}

.top-nav {
    grid-area: 1 / 2 / 2 / 3;
}

.main {
    grid-area: 2 / 2 / 3 / 3;
}