.grid-outer {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .sidebar--settings {
        grid-area: 1 / 1 / 2 / 2;
        background-color: azure;
    }
    .main--settings { grid-area: 1 / 2 / 2 / 3;
        min-height: 100vh;
    }