{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}About{% endblock %}

{% block content %}

<div id="about-app" class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'accounts/components/sidebar_settings.html' %}

    <!-- Content -->
    <section id="content" class="icon-tile-bg-wrapper">
        <div class="bg-fade">
            <!-- top navigation -->
            {% include 'components/top-nav.html' %}

            <!-- messages -->
            {% include 'components/messages.html' %}

            <div class="row mx-auto text-center">
                <img src="{% static 'img/settings/about/logo_c.png' %}" alt="logo" class="img-fluid mx-auto logo-img">
                <h2 class="col-12 mt-3"> Links | v{{ app_version }}</h2>

                <div class="col-12 mt-5 mb-2">
                    <h4>©2020 Dave Laffan</h4>
                    <ul class="list-inline mt-3 qqq">
                        <li class="list-inline-item"><a href="https://github.com/steview-d" target="_blank"><i
                                    class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/davidlaffan/"
                                target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <!-- premium member acknowledgement -->
                {% if is_premium %}
                <div class="col-12 my-4">
                    <h3>Thank you for being a <span class="badge badge-success">PREMIUM</span> member!</h3>
                    <p>Your support allows us to add more features, keep fixing bugs, and carry on making your
                        experience
                        better!</p>
                </div>
                {% else %}
                <div class="col-12 my-5">
                    <h3>Upgrade for <a href="{% url 'premium' %}"><span class="badge badge-success">PREMIUM</span></a>
                        access!</h3>
                </div>
                {% endif %}

                <!-- support link -->
                <div class="col-12 mt-3 mb-5">
                    <h6>Something not right?
                        <a href="{% url 'support' %}">
                            <span class="btn--invert ml-2 p-2">Get support</span>
                        </a>
                    </h6>
                </div>

            </div>
            <!-- banner ad -->
            <!-- tbc whether to inc banner ad here. Does it need it? -->
    </section>
</div>
{% endblock %}