{% extends 'base.html' %}

{% block page_title %}About{% endblock %}

{% block content %}

<div class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'accounts/components/sidebar.html' %}

    <!-- Content -->
    <div id="content">
        {% include 'accounts/components/top-nav.html' %}
        <nav class="navbar navbar-expand-lg">
            <button type="button" id="sidebarToggle" class="btn">
                <i class="fa fa-align-left"></i><span>Sidebar</span>
            </button>
        </nav>
        <div>
            <h3>About Page</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
        </div>
    </div>

</div>

{% endblock %}