{% extends 'base.html' %}

{% block page_title %}About{% endblock %}

{% block content %}

<div class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'accounts/components/sidebar_settings.html' %}

    <!-- Content -->
    <div id="content" class="icon-tile-bg-wrapper">
        <div class="bg-fade">
        <!-- top navigation -->
        {% include 'components/top-nav.html' %}
            <!-- messages -->
            {% include 'components/messages.html' %}

            <div class="row mx-auto text-center">
                <div class="col-12 display-2"> LOGO HERE</div>
                <div class="col-12 mb-3"> App Name (tbc) | v{{ app_version }}</div>

                <div class="col-12 my-4">
                    <h4>©2019 Dave Laffan</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://github.com/steview-d" target="_blank"><i
                                    class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/davidlaffan/"
                                target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <h6 class="col-12">Something not right? Get <span>
                        <a href="{% url 'support' %}">support</a></span></h6>

                <!-- premium member acknowledgement -->
                {% if is_premium %}
                <div class="col-12 my-3">
                    <h3>Thank you for being a <span class="badge badge-success">PREMIUM</span> member!</h3>
                    <p>Your support allows us to add more features, keep fixing bugs, and carry on making your
                        experience
                        better!</p>
                </div>
                {% endif %}

            </div>
        </div>
        <!-- banner ad -->
        <!-- tbc whether to inc banner ad here. Does it need it? -->
    </div>
</div>
{% endblock %}