{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Log In{% endblock %}

{% block content %}

<div class="icon-tile-bg-wrapper">
    <section id="login" class="set-min-height">
        {% include 'pages/components/nav.html' %}
        <div class="container-fluid">
            <div class="container">
                <!-- messages -->
                {% include 'components/messages.html' %}

                <div class="row">
                    <div class="col-10 col-md-7 col-lg-6 col-xl-5 user-auth-container">
                        <h4>Log In To Your Account</h4>
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            {{ form|crispy }}

                            <div class="pw-reset">
                                <small><a href="{% url 'password_reset' %}">Forgot Your Password?</a></small>
                            </div>

                            <div>
                                <button class="btn--standard" type="submit">Login</button></div>
                            <div>
                                <small>Need an account? Create one <a href="{% url 'register' %}"
                                        class="label label-small">here</a></small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
{% include 'pages/components/footer.html' %}

{% endblock %}