{% extends 'base.html' %}

{% block page_title %}Log In{% endblock %}

{% block content %}

{% include 'pages/components/nav.html' %}

<div class="container-fluid set-min-height">

    <div class="py-5"></div>
    <h1>Log In Page</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        <div>
            <small>Forgot your password? Reset it <a href="{% url 'password_reset' %}">here</a></small>
        </div>
    </form>
</div>

<!-- Footer -->
{% include 'pages/components/footer.html' %}

{% endblock %}