{% extends 'base.html' %}

{% block page_title %}Profile{% endblock %}

{% block content %}

<div class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'accounts/components/sidebar.html' %}

    <!-- Content -->
    <div id="content">
        {% include 'top-nav.html' %}

        <div class="container-fluid">
            <div class="my-3">
                <div class="display-4">Profile for <strong>{{ user }}</strong></div>
                <h6>Member since {{ user.date_joined|date:"d M Y" }}</h6>
            </div>

            <form method="POST" class="border p-2 mt-3">
                <fieldset>
                    <legend>Update Email Address</legend>
                    {% csrf_token %}

                    <p>Email Address: {{ user.email }}</p>
                    {{ update_email_form.as_p }}

                    <input type="submit" name="email-btn" class="btn btn-info">
                </fieldset>
            </form>

            <form method="POST" class="border p-2 mt-3">
                    <fieldset>
                        <legend>Change Password</legend>
                        {% csrf_token %}
    
                        {% for i in password_change_form %}

                        <p>{{ i.label_tag }} {{ i }}
                        <small>{{ i.errors }}</small>

                        {% endfor %}
                        <br>
    
                        <input type="submit" name="pw-btn" class="btn btn-info">
                    </fieldset>
                </form>

        </div>
    </div>
</div>

{% endblock %}