{% extends 'base.html' %}

{% block content %}

<div class="flex-wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div>
            <h3>LOGO HERE</h3>
        </div>
        <hr>
        <div>
            <h3>Add BM Button</h3>
        </div>
        <hr>
        <div>
            <h3>BIG ASS AD</h3>
            <h3>IS HERE</h3>
        </div>
        <hr>
        <ul>
            <h5>Settings</h5>
            <li>
                <a class="nav-link" href="#">Premium</a>
            </li>

            <li>
                <a class="nav-link" href="#">Profile</a>
            </li>

            <li>
                <a class="nav-link" href="#">Support</a>
            </li>

            <li>
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </nav>

    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg">
            <button type="button" id="sidebarToggle" class="btn">
                <i class="fa fa-align-left"></i>
            </button>
        </nav>
        <div>
            <h3>Text to test fixed scroll</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa optio praesentium fugit, modi
                dignissimos ipsam minima aperiam quibusdam eum incidunt iste laborum odit beatae, dolore quia
                reprehenderit ab a excepturi! </p>
            <hr>
        </div>
    </div>

</div>

{% endblock %}