<section id="create-account-section" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 content text-center">
                <div>
                    <a href="{% url 'register' %}" class="btn--square mt-1" role="button"><span><small>Create Account</small</span></a>
                </div>
                <div class="or-log-in">
                    <small><a href="{% url 'login' %}">or log in here</a></small>
                </div>
            </div>

        </div>
    </div>
</section>