<footer id="footer-section" class="container-fluid">
    <div class="container">
        <div class="row content">
            <div class="col-12">
                <div>&copy;<span id="copyright-year">2020</span> Dave Laffan</div>
            </div>
            <div class="col s12">
                <a href="https://github.com/steview-d" target="_blank"><i class="fa fa-github social-icons" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/davidlaffan/" target="_blank"><i class="fa fa-linkedin social-icons" aria-hidden="true"></i></a>
                
            </div>
        </div>
    </div>

</footer>