{% load staticfiles %}

<!-- nav bar -->
<nav id="pages-nav" class="container-fluid
    {% if 'accounts' in request.path %} nav-border nav-bg-accounts{% else %} nav-bg{% endif %}">
    <!-- navbar title -->
    <div class="navbar-title text-center">
        <img src="{% static 'img/logo/logo_main.png' %}" alt="logo" class="img-fluid">
    </div>


    <!-- navbar items -->
    <ul class="navbar-items">
        <li class="navbar-link {% if 'about' in request.resolver_match.url_name %}active{% endif %}">
            <a href="{% url 'about_page' %}">About</a></li>
        <li class="navbar-link {% if 'pricing' in request.resolver_match.url_name %}active{% endif %}">
            <a href="{% url 'pricing_page' %}">Pricing</a></li>
        <li class="navbar-link {% if 'faq' in request.resolver_match.url_name %}active{% endif %}">
            <a href="{% url 'faq_page' %}">FAQ</a></li>
        <li class="navbar-link {% if 'login' in request.resolver_match.url_name %}active{% endif %} d-none d-sm-block">
            <a href="{% url 'login' %}">Login</a></li>
        <li
            class="navbar-link {% if 'register' in request.resolver_match.url_name %}active{% endif %} d-none d-sm-block">
            <a href="{% url 'register' %}">Register</a></li>
        <li>
            <!-- login / register dropdown for small screens -->
            <div class="d-sm-none mobile-menu" data-toggle="dropdown">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            </div>

        </li>
    </ul>
</nav>

<div class="navbar-spacer"></div>