<div class="text-center">
    <hr class="w-25">
    <button class="btn--add-collection"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></button>
</div>

<div id="add-collection-{{ column }}" class="display-toggle">
    <form method="POST" class="add-collection p-2">
        {% csrf_token %}
        <small>New Collection Name</small>
        <input type="hidden" name="column" value="{{column}}">
        <input type="hidden" name="is_empty" value="{{is_empty}}">
        <input type="text" name="collection_name" class="w-100"><br />
        <input type="submit" name="add-collection" value="Add Collection" class="btn--standard btn-sm my-2">
    </form>
</div>