<div class="bm-icons-show-hide">
    <div class="bm-icons-container">
        <a href="{% url 'edit_bookmark' page=page bookmark=item.pk %}" class="btn btn-outline-secondary bm-icon"
            role="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <small class="ml-1">Edit</small>
        </a>
        <a href="{% url 'move_bookmark' page=page bookmark=item.pk %}" class="btn btn-outline-secondary bm-icon"
            role="button">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            <small class="ml-1">Move</small>
        </a>
        <button class="btn btn-outline-secondary bm-icon" data-toggle="modal" data-target="#modal-bm-{{ item.pk }}"><i
                class="fa fa-trash" aria-hidden="true"></i><small class="ml-1">Delete</small></button>
    </div>
</div>