<div class="modal fade" id="page-delete-modal" tabindex="-1" role="dialog" aria-labelledby="page-delete-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" id="delete-page-form">
                <div class="modal-header">
                    <h4 class="mb-0"><i class="fa fa-stop mr-2" aria-hidden="true"></i>Delete Page</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete </p>
                    <h6 class="delete-modal-item text-trunc"><i class="fa fa-dot-circle-o"
                            aria-hidden="true"></i>{{ page }}</h6>
                    <p>This action cannot be reversed and you will lose all collections and bookmarks contained within.
                    </p>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn--faded" data-dismiss="modal">Cancel</button>
                    <input type="submit" name="delete-page-form" value="DELETE" class="btn--delete">
                </div>
            </form>
        </div>
    </div>
</div>