<div class="modal fade" id="page-delete-modal" tabindex="-1" role="dialog" aria-labelledby="page-delete-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" id="delete-page-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Page: {{page|title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete {{page|title}}?</p>
                    <p>This action cannot be reversed and you will lose all collections and bookmarks contained within.
                    </p>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" id="delete-page-form" name="delete-page-form" value="DELETE" class="btn btn-danger">
                </div>
            </form>
        </div>
    </div>
</div>