// -------------------------------------------------------------------- buttons

.label {
    padding: 0.2rem 0.4rem;
    margin: 0 0.2rem;
    border: 1px solid $black;
    color: $black;
    white-space: nowrap;

    &-small {
        font-size: 0.8rem;
    }
}

.label--white {
    padding: 0.2rem 0.4rem;
    margin: 0 0.2rem;
    border: 1px solid $white;
    color: $white;
    white-space: nowrap;

    &-small {
        font-size: 0.8rem;
    }

    &:hover {
        color: $white;
    }
}

.btn--standard {
    @include default-button($dark-grey, $white, $black, transparent, $black);
}

.btn--white {
    @include default-button($white, $dark-grey, $black, transparent, $white, $white);
}

.btn--red {
    @include default-button($error-red, $white, $error-red, transparent, $black, $black);
}

.btn--white-hover-white {
    @include default-button($white, $dark-grey, $white, $white, $dark-grey, $white);
}

.btn--invert {
    @include default-button(transparent, $black, $black, $dark-grey, $white);
}

.btn--square {
    @include square-button($dark-grey, $white, $logo-blue, $white);
}

.btn--square-invert {
    @include square-button($white, $black, $logo-blue, $white);
}

.btn--page-options {
    display: inline-block;
    border: 1px solid $white;
    border-radius: 0.25rem;
    background-color: $white;
    transition: .2s ease-out;

    &:hover i {
        transform: scale(1.1);
    }

    &:focus {
        outline:none
    }
}

// not currently in use - delete if not required
.btn--slide {
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    position: relative;
    border: 1px solid $black;
    color: $black;
    background-color: transparent;
    white-space: nowrap;

    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: inherit;
        opacity: 0;
        color: $white;
        transition: 0.2s ease-out;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $logo-blue;
        transition: 0.3s ease-out;
    }

    &:hover {
        &:before {
            width: 100%;
        }
        span {
            opacity: 1;
        }
    }
}