// ---------------------------------------- scss applicable to all / most pages

// ----------------------------------------------------------------- re-usables

.border {
    @include black-border;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.vertical-bar-left {
    border-left: 14px solid $onyx;
    padding-left: 1.4rem;
}

.vertical-bar-right {
    border-right: 14px solid $white;
    padding-right: 1.4rem;
}

.or-log-in a {
    @include faded-link;
}

// tiled background for all pages outside of main app
.icon-tile-bg-wrapper {
    @include icon-tile-bg;
}

// force bg overlay all the way
// to the bottom of the page.
.px-space {
    height: 1px;
}

#create-account-section {
    @include background-overlay(0.96);
}

// settings pages header icon before
h4 > .fa-stop {
    color: $logo-blue;
}

// settings pages section box with blue square title as header
.section-square-wrapper {
    position: relative;

    .section-square {
        position: absolute;
        top: -44px;
        // left: 8%;
        width: 90px;
        height: 90px;
        padding-top: 0.7rem;
        font-size: 0.8rem;
        border: 2px solid $onyx;
        text-align: center;
        background-color: $logo-blue;
        color: $white;
    }

    .square-left {
        left: 8%;
    }
}


// -------------------------------------------------------------- ajax progress
// -------------------------------- here for .js to use as required, to control
// -------------------------------------the display of ajax progress indicators

.ajax-progress-hide {
    display: none;
}

.ajax-progress-show {
    display: inline-block;
}

.display-toggle {
    display: none;
}


// ---------------------------------------------------------- main content area
// ------------------------------------- applies to main app and settings pages

#content {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.7s cubic-bezier(0.21, 0.885, 0.38, 0.96);

    .bg-fade {
        min-height: 100vh;
        @include background-overlay(0.98);
    }

    @media (min-width: 768px) {
        width: calc(100% - 300px);
    }
}

.flex-wrapper {
    display: flex;
    width: 100%;

    // -------------.no-scroll prevents #content from scrolling when sidebar is
    // ----------------------active on small screens - ref: .js sidebar toggler
    .no-scroll {
        overflow: hidden;
        height: 100%;
    }
}
