// ------------------------------------------------------------- main links app

.column {
    color: black; // temp placeholder
}

.link-desc {
    font-size: 0.8rem;
}

.link-url {
    font-size: 0.6rem;
}

.text-trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bm-link {
    color: #616161;
    &:hover {
        color: #616161;
    }
}

#img-preview {
    height: 100px;
    width: 100px;
}

// ---------------------------------------------------- rename collection forms

.rename-collection-form {
    display: none;
}

// ------------------------------------------------------- collection title bar

.collection-container {
    @include container-text-icon;
    cursor: default;
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 0.4rem 0.7rem;

    .collection-title {
        @include container-text-icon-title;

        .collection-title-text {
            @include container-title-text;
            font-size: 1.4rem;
        }
    }

    .collection-icons {
        @include flex-none;
        font-size: 1.2rem;
    }
}

// ----------------------------------------------------------- bookmark options

.bm-container {
    @include container-text-icon;

    .bm-title {
        @include container-text-icon-title;

        .bm-title-text {
            @include container-title-text;
        }
        .bm-options-icon {
            @include flex-none;
            margin-left: 0.5rem;
            font-size: 0.7rem;
            padding: 0 0.25rem;
        }
    }
}

.bm-icons-show-hide {
    display: none;

    .bm-icons-container {
        display: flex;
        flex-wrap: wrap;

        .bm-icon {
            display: flex;
            align-items: center;
            margin: 0.15rem 0.25rem 0.15rem 0;
            padding: 0.2rem 0.4rem;
            border-radius: 5px;
        }
    }
}

// ----------------------------------------------------------- bookmark styling

.bm-text-container {
    margin-left: 0.3rem;
    min-width: 0;
}

.default-icon {
    flex-shrink: 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-text {
        color: white;
    }
}

// --------------------------------------------------------- move bookmark page

#move-bm-detail {
    display: flex;
    flex-direction: column;
    text-align: center;

    .icon {
        width: 50px;
        height: auto;
        margin-right: 0;
    }

    .no-icon {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 6px;
        font-size: 2.2rem;
        margin: 0 auto;

        .icon-text {
            position: relative;
            top: -1px;
            color: white;
        }
    }

    .title {
        margin: 0.5rem 0 0;
    }

    .url {
        margin: 0.5rem 0 1rem;
    }

    @media only screen and (min-width: 576px) {
        flex-direction: row;
        text-align: left;

        .icon,
        .no-icon {
            margin: 0 1rem 0 0;
        }

        .title {
            margin: 0 0 0.5rem;
        }
    }
}

// -------------------------------------------------------- arrange collections

.arrange-text {
    border-radius: 4px;
    margin-top: 0.5rem;
    padding: 1.3rem 1.5rem 1.5rem;
    display: inline-block;
    background-color: $info-green;
    color: $white;
    font-weight: 600;

    p {
        margin-bottom: 0;
    }
}

.collection-header-number {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 0;
    border: 1px solid $black;
    border-radius: 2px;
    background-color: $dark-grey;
    color: $white;
}

.collection-wrapper {
    display: block;
    cursor: pointer;
    margin: 1.5rem 0.75rem;
    padding: 1rem;
    border-radius: 3px;
    background-color: $logo-blue;
    color: $white;
    font-weight: 600;
    text-align: center;
}


// -------------------------------------------------------- add / edit bookmark

.url-validation-wrapper {
    margin: -.8rem 0 1rem;

    small {
        font-weight: 600;
    }

    .status {
        font-weight: 400;
        padding: .1rem .4rem .2rem;
        border-radius: 4px;
        color: $white;

        &-valid {
            background-color: $info-green;
        }

        &-invalid {
            background-color: $error-red;
        }
    }
}


// displaying default icons
#edit-bookmark,
#add-bookmark {
    .no-icon {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 6px;
        font-size: 4.6rem;
        // margin: 0 auto;

        .icon-text {
            position: relative;
            top: -4px;
            color: white;
        }
    }
}

#div_id_icon .form-control {
    background-color: transparent;
    border: none;
    padding-left: 0;

    &:focus {
        outline:none;
        box-shadow: none;
    }
}

// used to show / hide bookmark icons on add / edit / import screens
.icon-display-hide {
    display: none
}

// edit bookmark form

.icon-errors {
display: inline;
color: $crispy-red;
font-size: .8rem;
font-weight: 700;
}