// --------------------------------------- set minimum height for all app pages

.app-min-height {
    min-height: calc(100vh - #{$topnav-spacer-height} - #{$advert-height});
}

// ------------------------------------------------------------- main links app

.column {
    color: black; // temp placeholder
}

.link-desc {
    font-size: 0.8rem;
}

.link-url {
    font-size: 0.6rem;
}

.text-trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bm-link {
    color: #616161;
    &:hover {
        color: #616161;
    }
}

#img-preview {
    height: 100px;
    width: 100px;
}

// ---------------------------------------------------- rename collection forms

// .rename-collection-form {
//     display: none;
// }

// ------------------------------------------------------- collection title bar

.collection-container {
    @include container-text-icon;
    cursor: default;
    background-color: $collection-header-bg;
    color: $white;
    // border-radius: 3px;
    border-radius: 5px 5px 0 0;
    padding: .4rem .5rem .4rem 1rem;

    .collection-title {
        @include container-text-icon-title;

        .collection-title-text {
            @include container-title-text;
            font-size: 1.4rem;
        }
    }

    .collection-icons {
        @include flex-none;
        font-size: 1.2rem;
        
        i {
            color: $white;
        }
    }
}

// ----------------------------------------------------------- bookmark options

.bm-container {
    @include container-text-icon;

    .bm-title {
        @include container-text-icon-title;

        .bm-title-text {
            @include container-title-text;
        }
        // .bm-options-icon {
        //     @include flex-none;
        //     margin-left: 0.5rem;
        //     font-size: 0.7rem;
        //     padding: 0 0.25rem;
        // }
    }
}

.bm-icons-show-hide {
    display: none;

    .bm-icons-container {
        display: flex;
        flex-wrap: wrap;

        .bm-icon {
            display: flex;
            align-items: center;
            margin: 0.15rem 0.25rem 0.15rem 0;
            padding: 0.2rem 0.4rem;
            border-radius: 5px;
        }
    }
}

.bm-options-icon {
    margin-left: auto;
}

// ----------------------------------------------------------- bookmark styling

.bm-text-container {
    margin-left: 0.3rem;
    min-width: 0;
}

.default-icon {
    flex-shrink: 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-text {
        color: white;
    }
}

// --------------------------------------------------------- move bookmark page

#move-bm-detail {
    display: flex;
    flex-direction: column;
    text-align: center;

    .icon {
        width: 50px;
        height: auto;
        margin-right: 0;
    }

    .no-icon {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 6px;
        font-size: 2.2rem;
        margin: 0 auto;

        .icon-text {
            position: relative;
            top: -1px;
            color: white;
        }
    }

    .title {
        margin: 0.5rem 0 0;
    }

    .url {
        margin: 0.5rem 0 1rem;
    }

    @media only screen and (min-width: 576px) {
        flex-direction: row;
        text-align: left;

        .icon,
        .no-icon {
            margin: 0 1rem 0 0;
        }

        .title {
            margin: 0 0 0.5rem;
        }
    }
}

// -------------------------------------------------------- arrange collections

.arrange-text {
    border-radius: 4px;
    margin-top: 0.5rem;
    padding: 1.3rem 1.5rem 1.5rem;
    display: inline-block;
    background-color: $info-green;
    color: $white;
    font-weight: 600;

    p {
        margin-bottom: 0;
    }
}

.collection-header-number {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 0;
    border: 1px solid $black;
    border-radius: 2px;
    background-color: $dark-grey;
    color: $white;
}

.collection-wrapper {
    display: block;
    cursor: pointer;
    margin: 1.5rem 0.75rem;
    padding: 1rem;
    border-radius: 3px;
    background-color: $logo-blue;
    color: $white;
    font-weight: 600;
    text-align: center;
}

// -------------------------------------------------------- add / edit bookmark

.url-validation-wrapper {
    margin: -0.8rem 0 1rem;

    small {
        font-weight: 600;
    }

    .status {
        font-weight: 400;
        padding: 0.1rem 0.4rem 0.2rem;
        border-radius: 4px;
        color: $white;

        &-valid {
            background-color: $info-green;
        }

        &-invalid {
            background-color: $error-red;
        }
    }
}

// displaying default icons
#edit-bookmark,
#add-bookmark,
#import-url {
    .no-icon {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 6px;
        font-size: 4.6rem;
        // margin: 0 auto;

        .icon-text {
            position: relative;
            top: -4px;
            color: white;
        }
    }
}

#div_id_icon .form-control {
    background-color: transparent;
    border: none;
    padding-left: 0;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

// used to show / hide bookmark icons on add / edit / import screens
.icon-display-hide {
    display: none;
}

// edit bookmark form

.icon-errors {
    display: inline;
    color: $crispy-red;
    font-size: 0.8rem;
    font-weight: 700;
}

// import url

.import-success-box {
    border: 1px solid red;
    padding: 4rem 1rem 2rem;
    border: 2px solid $onyx;
    border-radius: 3px;

    h4 {
        font-size: 1rem;

        @media only screen and (min-width: 576px) {
            font-size: 1.5rem;
        }
    }
}

#import-url-success {
    .v-center {
        margin: auto;

        .section-square-wrapper {
            margin: -10% 2rem 0;

            @media only screen and (min-width: 576px) {
                margin: -20% auto 0;
            }
        }
    }
}

// modal - delete bookmark

.delete-modal-item {
    margin: 0 1.5rem 1rem;

    i {
        margin-right: 0.5rem;
        color: $logo-blue;
    }
}

// icon field errors

.icon-field-errors {
    border: 1px solid #dc3545;
}

// main app

// dropdown

.dropdown-slide-effect {
    animation: dropdown-slide-effect .25s both;
}

// manual collection sort

.manual-sort-on {
    background-color: $green;
    border: 1px solid $green;
}

// no collections

.no-collections-box {
    background-color: $gunmetal-alpha;
    color: $white;
    border-radius: .5rem;

    input[type=text] {
        width: 80%;

        @media only screen and (min-width: 576px) {
            width: 50%
        }
    }
}

.rename-collection-form {
    input[type=text] {
        width: 100%;
        max-width: 200px;
    }
}

.collection-options {
    border: 1px solid $onyx;
}

.bookmark-styling {
    padding: .5rem .2rem .5rem 0;
}

.bookmark-border {
    border-bottom: 1px solid $light-grey;
}

.bm-sort-handle {
    // background-color: #eee;
    padding: .4rem;
    // margin-right: 1rem;
    // border-radius: 2px;
    border: 1px dashed $light-grey;
    background-color: $white;
    opacity: .9;
}

// on 1 column displays, add a space to the right to allow
// for scrolling on devices
.add-scroll-space {
    margin-right: 3rem;
}

.bm-sort-container .ui-sortable-helper {
    animation: wobble-effect .4s ease-out forwards;

    .bm-sort-handle {
        border-color: $black;
    }
}

#bookmark-options {

    position: relative;

    .dropdown-item:focus, .dropdown-item:hover {
        color: $white;
        text-decoration: none;
        background-color: $onyx;
    }
}

.bm-options {
    color: $black;

    transition: opacity .2s ease-out;

    &:hover {
        opacity: .6;
    }
}

.bm-options-1 {
    font-size: 1.3rem;
}

.bm-options-2 {
    font-size: 1.2rem;
}

.bm-options-3 {
    margin-top: -.1rem;
}

// bookmark icon dropdown effect
.bookmark-options-effect-1 {
    animation: bookmark-options-effect-1 .25s forwards;
}

.bookmark-options-effect-2 {
    animation: bookmark-options-effect-2 .25s forwards;
}

.bookmark-options-effect-3 {
    animation: bookmark-options-effect-3 .25s forwards;
}

#bookmark-display-options {

    button:focus {
        outline: none;
    }
    
}