// show icon tile background behind error code

#error-code {
    background: linear-gradient(0, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/static/img/bg/icon_tile.png") center;
    background-size: 650px 400px;
    font-size: 5rem;
    font-weight: 800;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @media only screen and (min-width: 576px) {
        font-size: 8rem;
    }

    @media only screen and (min-width: 768px) {
        font-size: 11rem;
    }

    @media only screen and (min-width: 1200px) {
        font-size: 15rem;
    }
}

#error-text h1 {
    font-size: 1.5rem;

    @media only screen and (min-width: 576px) {
        font-size: 1.8rem;
    }

    @media only screen and (min-width: 768px) {
        font-size: 2.1rem;
    }

    @media only screen and (min-width: 1200px) {
        font-size: 2.5rem;
    }
}