// ----------------------------- 'Pages' styling - index / about, pricing & faq

// -------------------------------------------------------------- index / about

#index-page section {
    @include section-padding;
}

#headline-section {
    @include default-bg-color;
}

// 4x4 icon grid
.display-icon-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    padding: 0.25rem;

    .icon-grid-item {
        background-color: transparent;

        img {
            border-radius: 8px ;
        }
    }
}

#features-section {
    background-color: $gunmetal;
    color: white;

    h2 {
        display: inline-block;
        border: 1px solid $white;
        padding: 1rem 1.25rem;
    }
}

.features-text {
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 2rem;

    @media only screen and (min-width: 992px) {
        padding: 2rem;
    }
}

#chrome-ext-section {
    @include background-overlay(0.96);

    img {
        width: 40%;

        @media only screen and (min-width: 768px) {
            width: 30%;
        }

        @media only screen and (min-width: 992px) {
            width: 60%;
        }
    }
}

#testimonials-section {
    background-color: $dark-blue;
    color: $white;

    h2 {
        display: inline-block;
        border: 1px solid $white;
        padding: 1rem 1.25rem;
    }
}

#testimonialCarousel {
    color: $white;

    .carousel-inner {
        .testimonial {
            background-color: transparent;

            .img-container {
                text-align: center;
                margin-bottom: 3rem;

                img {
                    box-shadow: inset 0px 0px 0px 10px $white;
                    border: 6px solid $white;
                    border-radius: 100%;
                    height: 200px;
                }
            }

            .quote {
                padding: 0 2rem;
                text-align: center;
            }

            .quote_by {
                text-align: right;
            }
        }
    }
    .controls {
        width: 5%;

        i {
            font-size: 3rem;
            color: $white;
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        align-items: flex-start;
        top: 60%;
    }

    .carousel-indicators {
        bottom: -40px;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 0.5rem;
        background: $white-dimmed;
        border: 4px solid $white;
    }
    .carousel-indicators li.active {
        color: $white;
        background: $dark-blue-alpha;
        border: 4px solid;
    }
}

// -------------------------------------------------------------------- pricing

#pricing-page section {
    @include section-padding;
}

#pricing-text-section {
    @include default-bg-color;

    img {
        width: 80%;

        @media only screen and (min-width: 992px) {
            width: 100%;
        }
    }
}

#pricing-table-section {
    background-color: $gunmetal;

    table {
        background-color: transparent;
        padding: 4rem;
    }

    .offer-box {
        display: inline-block;
        background-color: $white;
        border-radius: 8px;
    }
}

// ----------------------------------------------------------------------- faqs

#faq-page section {
    @include section-padding;
}

#faq-section {
    @include default-bg-color;
}

#faq-accordion {
    background-color: rgba(255, 255, 255, 0);
    padding: 0.5rem;

    .card {
        border-width: 0;
        @include default-bg-color;

        .card-header {
            display: flex;
            flex-direction: row;
            font-size: 1.2rem;
            padding: 1rem;
            background-color: transparent;
            transition: 0.2s ease-out;

            &:hover,
            &:active {
                cursor: pointer;
                background-color: $gunmetal-alpha;
                color: $white;
            }

            i {
                padding-right: 1rem;
            }
        }

        .card-body {
            text-align: justify;
            // firefox only, currently
            text-justify: inter-word;
            padding-bottom: 0;
        }
    }
}

#contact-form-section {
    background-color: $dark-blue;
    color: $white;

    .form-container {
        margin: 0 auto;
    }
}
