// --------------------------------------------------------------------- search

// .result-location {
//     font-size: 0.8rem;
//     margin-top: 0.35rem;
//     padding: 0.15rem 0.25rem;
// }

.page-link {
    border-color: $light-grey;
    color: $onyx;

    &:hover {
        background-color: $onyx;
        color: $white;
        border-color: $onyx;
    }

    &:focus {
    box-shadow: none;
    }
}

.page-item.active .page-link {
    background-color: $onyx;
    color: $white;
    border-color: $onyx;
}
