{% extends 'base.html' %}

{% block page_title %}FAQ's{% endblock %}

{% block content %}

{% include 'pages/components/nav.html' %}

<div id="pricing-page" class="container-fluid">
    <!-- messages -->
    {% include 'components/messages.html' %}

    <div class="py-5"></div>

    <div class="container-fluid" style="background-color: #555">
        <div class="container" style="background-color: #aaa">
            <div class="row">
                <div class="col-12">
                    <h1>Hello!</h1>
                    <p>This is the index / about page.</p>
                    <p>This is the index / about page.</p>
                    <p>This is the index / about page.</p>
                    <div style="height: 150px; background-color: green"></div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
