{% extends 'base.html' %}

{% block page_title %}About{% endblock %}

{% block content %}

{% include 'pages/components/nav.html' %}

<div id="index-page">
    <!-- messages -->
    {% include 'components/messages.html' %}

    <section id="headline-section" class="container">
        <div class="row">
            <div class="col-7 content" style="background-color:#ddd">
                <h2>HEADLINE</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, debitis!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque fugit libero, labore perspiciatis,
                    maiores amet eius inventore voluptatibus veniam, vitae quidem? Nesciunt est accusamus delectus quo,
                    possimus quos eos et.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis non rem laboriosam mollitia
                    optio consectetur maiores dolorum illo cum impedit!</p>
            </div>

            <div class="col-5 content" style="background-color:#aaa">
                <h5>IMAGE TO BE PLACED HERE</h5>
                <p>Probably the main logo - but with additional styling?</p>
                <p>Invert colors and circular border, etc</p>
            </div>
        </div>
    </section>

    <section id="features-section" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-5 content" style="background-color:#aaa">
                    <h5>IMAGE TO BE PLACED HERE</h5>
                    <p>Likely a screenshot of how bookmarks are displayed within the main app</p>
                </div>

                <div class="col-7 content" style="background-color:#ddd">
                    <h2>FEATURES</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, debitis!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque fugit libero, labore perspiciatis,
                        maiores amet eius inventore voluptatibus veniam, vitae quidem? Nesciunt est accusamus delectus
                        quo,
                        possimus quos eos et.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis non rem laboriosam mollitia
                        optio consectetur maiores dolorum illo cum impedit!</p>
                </div>
            </div>
        </div>
    </section>

    <section id="chrome-ext-section" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-7 content" style="background-color:#ddd">
                    <h2>Chrome Extension</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, debitis!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque fugit libero, labore perspiciatis,
                        maiores amet eius inventore voluptatibus veniam, vitae quidem? Nesciunt est accusamus delectus
                        quo,
                        possimus quos eos et.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis non rem laboriosam mollitia
                        optio consectetur maiores dolorum illo cum impedit!</p>
                </div>

                <div class="col-5 content" style="background-color:#aaa">
                    <h5>IMAGE TO BE PLACED HERE</h5>
                    <p>A screenshot of the chrome icon? Also the extension icon</p>
                    <p>Screen clip of extension bar?</p>
                    <hr>
                    <h5>Also, background to this whole section should be well known website icons, scattered across
                        background and faded out</h5>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials-section" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 content" style="background-color:#ddd">
                    <h2>Testimonials</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, debitis!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque fugit libero, labore perspiciatis,
                        maiores amet eius inventore voluptatibus veniam, vitae quidem? Nesciunt est accusamus delectus
                        quo,
                        possimus quos eos et.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis non rem laboriosam mollitia
                        optio consectetur maiores dolorum illo cum impedit!</p>
                </div>

            </div>
        </div>
    </section>

    <section id="get-started-section" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 content" style="background-color:#ddd">
                    <h2>READY TO GET STARTED?</h2>
                    <p>Create Account</p>
                    <p>... or log in</p>
                </div>

            </div>
        </div>
    </section>

</div>

{% endblock %}