{% extends 'base.html' %}

{% block page_title %}About{% endblock %}

{% block content %}

{% include 'pages/components/nav.html' %}

<div id="pricing-page">
    <!-- messages -->
    {% include 'components/messages.html' %}

    <!-- pricing text detail -->
    <section id="pricing-text-section" class="container">
        <div class="row">
            <div class="col-12">
                <p>Links is free to use, and always will be.</p>
                <p>There are some restrictions which you can see below.</p>
                <p>To remove these restrictions and go 'PREMIUM' normally costs £20/yr</p>
                <p>We have an offer at the moment where the first 1000 users to sign up for Premium will instead get
                    lifetime access.</p>
            </div>
        </div>
    </section>

    <!-- pricing table -->
    <section id="pricing-table-section" class="container-fluid">
        <div class="container">
            <div class="row">
                <table class="table table-bordered">
                    {% for i in table_data %}
                    {% if forloop.first %}
                    <thead>
                        <tr>
                            <th scope="col">{{i.0}}</th>
                            <th scope="col">{{i.1}}</th>
                            <th scope="col">{{i.2}}</th>
                        </tr>
                    </thead>
                    {% else %}
                    <tbody>
                        <tr>
                            <th scope="row">{{ i.0 }}</th>
                            <td>{{ i.1 }}</td>
                            <td>{{ i.2 }}</td>
                        </tr>
                    </tbody>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>

    <!-- get started -->
    {% include 'pages/components/get_started.html' %}

</div>

<!-- Footer -->
{% include 'pages/components/footer.html' %}

{% endblock %}