{% extends 'base.html' %}

{% block page_title %}About{% endblock %}

{% block content %}

{% include 'pages/components/nav.html' %}

<div id="pricing-page">
    <!-- messages -->
    {% include 'components/messages.html' %}

    <!-- pricing text detail -->
    <section id="pricing-text-section" class="container">
        <div class="row">
            <div class="col-12">
                <p>Links is free to use, and always will be.</p>
                <p>There are some restrictions which you can see below.</p>
                <p>To remove these restrictions and go 'PREMIUM' normally costs £20/yr</p>
                <p>We have an offer at the moment where the first 1000 users to sign up for Premium will instead get
                    lifetime access.</p>
            </div>
        </div>
    </section>

    <!-- pricing table -->
    <section id="pricing-table-section" class="container-fluid">
        <div class="container">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Feature</th>
                            <th scope="col">Free</th>
                            <th scope="col">Premium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Ads</th>
                            <td>Ad Supported</td>
                            <td>No Ads. Ever</td>
                        </tr>
                        <tr>
                            <th scope="row">Bookmarks</th>
                            <td>500</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <th scope="row">Collections</th>
                            <td>20</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <th scope="row">Pages</th>
                            <td>2</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <th scope="row">Support</th>
                            <td>Email</td>
                            <td>Email & Telephone</td>
                        </tr>
                        <tr>
                            <th scope="row">Cost</th>
                            <td>Free</td>
                            <td>£20 for lifetime access</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- get started -->
    {% include 'pages/components/get_started.html' %}

</div>

<!-- Footer -->
{% include 'pages/components/footer.html' %}

{% endblock %}