// -------------------------------------------------------------------- imports

@import "_spinners";

// ------------------------------------------------------------------ variables

$white: #ffffff;
$black: #00000;
$logo-blue: #175C9D;
$light-steel-blue: #A8D0DB;
$shadow-blue: #7180AC;
$middle-red: #E49273;
$burnished-brown: #A37A74;
$topnav-spacer-height: 133px;

// --------------------------------------------------------------------- mixins

@mixin black-border {
    border: 1px solid $black;
}

@mixin container-text-icon {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin container-text-icon-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

@mixin container-title-text {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin flex-none {
    flex: 0 0 auto;
}

// ----------------------------------------------------------------- re-usables

.border {
    @include black-border;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

// -------------------------------------------------- main display grid wrapper

.flex-wrapper {
    display: flex;
    width: 100%;
}

// -------------------------------------------- top navbar for main app display

#topnav {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: $white;

    @media (min-width: 768px) {
        width: calc(100% - 300px);
    }
}

.topnav-spacer {
    height: $topnav-spacer-height;
}

#topnav-icons i {
    font-size: 1.5rem;

    @media (min-width: 576px) {
        font-size: 2rem;
    }
}

// style seach box dropdown
.dropright {
    .dropdown-menu {
        transition: all 0.25s;
        overflow: hidden;
        transform-origin: left;
        transform: scale(0, 1);
        display: block;
    }
    &:hover {
        .dropdown-menu {
            transform: scale(1);
        }
    }
    .dropdown-menu {
        width: 200px;
        padding: 0;
    }
}

// -------------------------------------------------------------------- sidebar

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 999;
    transition: all 0.7s cubic-bezier(0.21, 0.885, 0.38, 0.96);
    background-color: ghostwhite;

    .display-switch {
        margin-left: -300px;
    }
}

#sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#sidebar ul .active {
    background-color: #b0e0e6;
}

@media (max-width: 767px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.display-switch {
        margin-left: 0;
    }
}

// ---------------------------------------------------------- main content area

#content {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.7s cubic-bezier(0.21, 0.885, 0.38, 0.96);

    @media (min-width: 768px) {
        width: calc(100% - 300px);
    }
}

// prevents #content from scrolling when
// sidebar is active on small screens
// ref: .js sidebar toggler
.flex-wrapper {
    .no-scroll {
        overflow: hidden;
        height: 100%;
    }
}

// ------------------------------------------------------ premium thanks center

.premium-thanks-center {
    display: flex;
    min-height: calc(100vh - #{$topnav-spacer-height});
    z-index: -100;
    transform: translate(0, -10%);
}

// ------------------------------------------------------------- main links app

.column {
    color: black; // temp placeholder
}

.link-desc {
    font-size: 0.8rem;
}

.link-url {
    font-size: 0.6rem;
}

.text-trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bm-link {
    color: #616161;
    &:hover {
        color: #616161;
    }
}

// ------------------------------------------------------ add / edit page forms

#add-page-form {
    display: none;
}

.edit-page-form {
    display: none;
}

// ----------------------------------------------------------- page sort button

.hide-page-sort-icon {
    display: none;
}

// ---------------------------------------------------- rename collection forms

.rename-collection-form {
    display: none;
}

// ------------------------------------------------------- collection title bar

.collection-container {
    @include container-text-icon;
    cursor: default;
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 0.4rem 0.7rem;

    .collection-title {
        @include container-text-icon-title;

        .collection-title-text {
            @include container-title-text;
            font-size: 1.4rem;
        }
    }

    .collection-icons {
        @include flex-none;
        font-size: 1.2rem;
    }
}

// ----------------------------------------------------------- bookmark options

.bm-container {
    @include container-text-icon;

    .bm-title {
        @include container-text-icon-title;

        .bm-title-text {
            @include container-title-text;
        }
        .bm-options-icon {
            @include flex-none;
            margin-left: 0.5rem;
            font-size: 0.7rem;
            padding: 0 0.25rem;
        }
    }
}

.bm-icons-show-hide {
    display: none;

    .bm-icons-container {
        display: flex;
        flex-wrap: wrap;

        .bm-icon {
            display: flex;
            align-items: center;
            margin: 0.15rem 0.25rem 0.15rem 0;
            padding: 0.2rem 0.4rem;
            border-radius: 5px;
        }
    }
}

// ----------------------------------------------------------- bookmark display
// --------------------------------------------------------------------- search

.result-location {
    font-size: 0.8rem;
    margin-top: 0.35rem;
    padding: 0.15rem 0.25rem;
}

// ------------------------------------------------------------------------icon

.bm-text-container {
    margin-left: 0.3rem;
    min-width: 0;
}

#img-preview {
    height: 100px;
    max-width: 60vw;
}

.default-icon {
    flex-shrink: 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-text {
        color: white;
    }
}

// -------------------------------------------------------- tippy tooltip theme

.tippy-tooltip.dark-theme {
    background-color: #353535;
    color: #ffffff;
}

.tippy-tooltip.dark-theme[data-placement^="top"] .tippy-arrow {
    border-top-color: #353535;
}

// -------------------------------------------------------------- ajax progress

.ajax-progress-hide {
    display: none;
}

.ajax-progress-show {
    display: inline-block;
}

.display-toggle {
    display: none;
}

// ------------------------------------------------------------ 'Pages' styling
// ------------------------------------------------------------------------ all

// --------------------------------------------------------------------- navbar

#pages-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);

    .navbar-title {
        text-align: center;
        margin-top: 1rem;
    }

    .nav-bar-items {
        display: flex;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0;

        .navbar-link {
            display: block;
            padding-bottom: 0.5rem;
            margin: 0.5rem 1rem;

            a {
                position: relative;
                color: $black;
                text-decoration: none;
            }

            a:after {
                content: "";
                display: block;
                position: absolute;
                bottom: -14.5px;
                height: 5px;
                width: 0;
                left: 50%;
                background: $logo-blue;
                transition: width 0.2s, left 0.2s;

            }
            a:hover:after {
                width: 100%;
                left: 0;
            }
        }

        .active {
            border-bottom: 5px solid $logo-blue;
        }
    }

    .mobile-menu {
        position: absolute;
        top: 2vw;
        left: 5vw;
        font-size: 1.8rem;
    }
}


// --------------------------------------------------------------------- footer

#footer-section {
    background-color: $black;

        .content {
            padding: 1rem;
            text-align: center;
            color: $white;

            .social-icons {
                margin: .4rem;
                padding: .4rem;
                font-size: 1.5rem;
                color: $white;
                transition: .5s ease-out;
            }

            .social-icons:hover {
                transform: scale(1.1);
                background-color: white;
                color: $black;
            }
        }
}

// ---------------------------------------------------------------------- index

#index-page {
    min-height: calc(100vh - #{$topnav-spacer-height});

    section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

#headline-section {
    .content {
        padding: 1rem;
    }
}

#features-section {
    background-color: $shadow-blue;

    .container {
        background-color: $shadow-blue;

        .content {
            padding: 1rem;
        }
    }
}

#chrome-ext-section {
    background-color: $white;

    .container {
        background-color: $white;

        .content {
            padding: 1rem;
        }
    }
}

#testimonials-section {
    background-color: $light-steel-blue;

    .container {
        background-color: $light-steel-blue;

        .content {
            padding: 1rem;
        }
    }
}

#get-started-section {
    background-color: $white;

    .container {
        background-color: $white;

        .content {
            padding: 1rem;
        }
    }
}

// ----------------------------------------------------------------------------

