{% load staticfiles %}

{% load banner_ad_url %}

{% if not is_premium %}
<div id="advert-block" class="container-fluid text-center">
    <div class="d-flex justify-content-center">
        {% with 'img/ads/ad'|create_ad_url:'.png' as ad_url %}
        <a href="http://google.com" target="_blank"><img src="
            {% static ad_url %}" class="img-fluid" alt="banner-ad"></a>
        {% endwith %}
        </div>
    <a href="{% url 'premium' %}"><small>Remove Ads!</small></a>
</div>
{% else %}
<div class="no-ad-spacer"></div> 
{% endif %}
<div class="px-space"></div>