<div id="width-warning" class="display-toggle">
    <div id="overlay-width-warning"></div>
    <div class="hv-center">
        <div class="warning-box text-center p-4">
            <h3>Warning</h3>
            <h6>Your screen width is too small to comfortably display <span class="actual-columns"></span>
                columns.</h6>
            <h6>At this size, it is recommended you have no more than <span class="rec-columns"></span></h6>
            <div>
                <a href="" id="width-warning-change" class="btn--standard mt-2 mr-2" role="button"><span>Change
                        Columns</span></a>
                <button id="width-warning-dismiss" class="btn--faded mt-2 mr-2">Dismiss*</button>
            </div>
            <small>*If you dismiss, you will no longer receive these warnings.</small>
        </div>
    </div>
</div>