{% load modal_id_gens %}

<div class="row">
    <div class="col-12 col-md-11 col-lg-9 col-xl-8 mx-auto p-3">
        <ul class="list-unstyled">
            {% for result in search_results %}
            <li id="{{result.position}}_." style="margin: 0.5rem">
                <!-- Bookmark title & options -->
                <div class="col-12">
                    <a href="{{ result }}" target="_blank" class="bm-link text-decoration-none">
                        <div class="bm-container">
                            <div class="bm-title">
                                <span class="bm-title-text">{{ result.title }}</span>
                                <span class="btn btn-sm btn-outline-secondary bm-options-icon bm-icon-toggle"
                                    role="button">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <small>Options</small>
                                </span>
                            </div>
                        </div>
                    </a>
                    <!-- Bookmark Option Icons -->
                    <div class="bm-icons-show-hide">
                        <div class="bm-icons-container">
                            <a href="{% url 'edit_bookmark' page=page bookmark=result.pk %}"
                                class="btn btn-outline-secondary bm-icon" role="button">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                <small class="ml-1">Edit</small>
                            </a>
                            <a href="{% url 'move_bookmark' page=page bookmark=result.pk %}"
                                class="btn btn-outline-secondary bm-icon" role="button">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                <small class="ml-1">Move</small>
                            </a>
                            <button class="btn btn-outline-secondary bm-icon" data-toggle="modal"
                                data-target="#modal-bm-{{ result.pk }}"><i class="fa fa-trash"
                                    aria-hidden="true"></i><small class="ml-1">Delete</small></button>
                        </div>
                    </div>
                </div>
                <!-- Bookmark Description & Link -->
                <div class="col-12">
                    <a href="{{ result }}" target="_blank" class="bm-link text-decoration-none">
                        <div class="link-desc text-trunc">{{ result.description }}</div>
                        <div class="link-url text-trunc">{{ result }}</div>
                    </a>
                </div>
                <!-- Bookmark Location -->
                <div class="col-12">
                    <a href="{% url 'links' page=result.bookmark_page %}"
                        class="btn btn-outline-secondary result-location">
                        <span><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>
                        <span class="page">Page: {{ result.bookmark_page }}.</span>
                        <span class="collection">Collection: {{ result.collection }}.</span>
                    </a>
                </div>
            </li>
            <!-- Bookmark Delete Modal -->
            {% include 'links/components/delete_modal.html' with id=result.pk|bookmark_id item_to_delete=result.pk object=result.url params=bm_delete_modal %}

            <hr>
            {% endfor %}
        </ul>
    </div>
</div>
