{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Arrange{% endblock %}

{% block content %}

<!-- check if needed? -->
{% load replace_space %}

<div class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'links/components/sidebar_links.html' %}

    <!-- Content -->
    <div id="content">
        {% include 'components/top-nav.html' %}

        <!-- messages -->
        {% include 'components/messages.html' %}

        <div class="container-fluid">
            <div class="row">
                <!-- section to choose number of columns - temp -->
                <div class="d-inline-block mx-2">
                    <span><a href="{% url 'links' page=page %}" class="btn btn-sm btn-info"
                            role="button">Back</a></span>
                    <p>Here you can arrange the collections on the page in a way that suits you. You can</p>
                    <ul>
                        <li>Change the order collections are displayed within their columns</li>
                        <li>Change the order the columns are displayed on the page</li>
                        <li>Move a collection to a different column on this page, or any other</li>
                    </ul>
                </div>
            </div>
            <h5 style="display: inline-block;">Collections</h5>

            <!-- spinner -->
            <div id="ajax-progress-arrange" class="mx-4 ajax-progress-hide">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>

            <div id="collections-container" class="row mx-4 py-2">
                {% for column in collection_data %}
                <div id="column-{{forloop.counter}}" class="column my-2" style="width: {{ column_width }}%">
                    {% if column %}
                    {% for collection in column %}
                    <p id="{{collection.position}}_." class="badge badge-primary m-3 p-3 d-block cursor-pointer"
                        style="font-size: 1rem;">{{ collection }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>


        </div>
        <!-- banner ad -->
        {% include 'components/advert.html' %}

    </div>
</div>


{% endblock %}

{% block csrf_js %}
<script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}