{% extends 'base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block page_title %}Edit Bookmark{% endblock %}

{% block content %}

{% load icon_styling %}

<div id="edit-bookmark" class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'links/components/sidebar_links.html' %}

    <!-- Content -->
    <div id="content">
        {% include 'components/top-nav.html' %}

        <!-- messages -->
        {% include 'components/messages.html' %}

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-11 col-lg-9 col-xl-8 mt-4 mx-auto p-3 mt-3">
                    <form method="POST" enctype="multipart/form-data" class="p-2 mt-3" novalidate>
                        <h4 class="mb-4"><i class="fa fa-stop mr-2" aria-hidden="true"></i>Edit Bookmark</h4>
                        <button type="button" id="scrape-url" class="btn--scrape"><i class="fa fa-magic"
                                aria-hidden="true"></i>AUTOFILL</button>
                        <div class="mb-2"><small id="scrape-msg">&nbsp;</small></div>
                        {% csrf_token %}

                        {% for field in edit_bookmark_form.visible_fields %}
                        <div>{{ field|as_crispy_field }}</div>

                        {% if field.label == 'Url' %}
                        <div class="url-validation-wrapper">
                            <small id="url-validation-result" class="">Url status: <span
                                    class="status status-valid">Valid</span></small>
                            <span class="fa-stack tippy-i tippy-url-validation">
                                <i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
                                <i class="fa fa-info fa-stack-1x fa-inverse" aria-hidden="true"></i>
                            </span>
                        </div>
                        {% endif %}

                        {% endfor %}

                        <div class="mt-n3 mb-4">
                            <small>Upload your own, use autofill to get the site icon directly, or allow
                                the app to create one for you.</small>
                        </div>


                        <!-- icon display -->
                        <div class="my-4">
                            <img id="img-preview" class="{% if not bookmark.icon %}icon-display-hide{% endif %}"
                                {% if bookmark.icon %}src="{{ MEDIA_URL }}{{ bookmark.icon }}" {% endif %}>
                            <div id="default-icon" class="{% if bookmark.icon %}icon-display-hide{% endif %}">
                                <div class="no-icon" style="
                                background-color:{{ bookmark.title|icon_color }};">
                                    <span class="icon-text">{{ bookmark.title|icon_letter }}</span>
                                </div>
                            </div>
                        </div>

                        <button type="button" id="use-default-icon" class="btn--standard">Use DEFAULT ICON</button>

                        <!-- hidden field to hold scraped base64 image -->
                        <input type="hidden" id="scraped_img" name="scraped_img" value="">

                        <!-- hidden field to show if user has opted to use a default icon -->
                        <input type="hidden" id="use-default" name="use-default" value="">
                        <hr>

                        <input type="submit" value="Update Bookmark" name="edit-bm-form" class="btn--standard">
                        <a href="{% url 'start_app' %}" class="btn--faded ml-2" role="button"><span>Cancel</span></a>
                    </form>
                </div>
            </div>
        </div>
        <!-- banner ad -->
        {% include 'components/advert.html' %}

    </div>
</div>


{% endblock %}

{% block tippy_js %}
<script src="https://unpkg.com/tippy.js@5"></script>
<script src="{% static 'js/tooltip.js' %}"></script>
{% endblock tippy_js %}

{% block csrf_js %}
<script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}