{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Arrange{% endblock %}

{% block content %}

<div class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'links/components/sidebar_links.html' %}

    <!-- Content -->
    <div id="content">
        {% include 'components/top-nav.html' %}

        <!-- messages -->
        {% include 'components/messages.html' %}

        <div class="container-fluid">
            <div class="row">
                <div class="d-inline-block mx-2">
                    <p>Here you can edit a bookmark</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form method="POST" enctype="multipart/form-data" class="border p-2 mt-3">
                        <fieldset>
                            <legend>Edit Bookmark</legend>
                            <button type="button" id="scrape-url" class="btn btn-warning mt-2">Scrape URL</button>
                            <div class="mb-2"><small id="scrape-msg">&nbsp;</small></div>
                            {% csrf_token %}
    
                            {% for field in edit_bookmark_form.visible_fields %}
                            <div>{{ field.label }}</div>
                            <div>{{ field.errors }}</div>
                            {% if field.label == 'Url' %}
                            <small id="url-validation-result">Url status: Valid</small>
                            {% endif %}
                            <div>{{ field }}</div>
                            <div>{{ field.help_text }}</div>
                            {% endfor %}
                            <img id="img-preview" class="my-2" src="
                            {% if bookmark.icon %}
                            {{ MEDIA_URL }}{{ bookmark.icon }}
                            {% else %}
                            {% static 'img/default_bm_icon.png' %}
                            {% endif %}"
                            alt="preview" />

                            <!-- hidden field to hold scraped base64 image -->
                            <input type="hidden" id="scraped_img" name="scraped_img" value="">
                            <hr>

                            <input type="submit" value="Submit Changes" name="edit-bm-form" class="btn btn-info">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- banner ad -->
        {% include 'components/advert.html' with advert_path="img/ads/banner.png" %}

    </div>
</div>


{% endblock %}

{% block csrf_js %}
<script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}