{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Import URL{% endblock %}

{% block content %}

<div class="flex-wrapper">

    <!-- Content -->
    <div id="content">
        <!-- messages -->
        {% include 'messages.html' %}

        <div class="container-fluid">
            <div class="row">
                <div class="d-inline-block mx-2">
                    <p>URL Imported Successfully</p>
                    <p>This page can now be closed</p>
                    
                    <button type="button" id="close-page-btn" class="btn btn-primary">Close Page</button>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}

{% block csrf_js %}
<script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}