{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Import URL{% endblock %}

{% block content %}

<div class="flex-wrapper">

    <!-- Content -->
    <div id="content">
        <!-- messages -->
        {% include 'components/messages.html' %}

        <div class="container-fluid">
            <div class="row">
                <div class="d-inline-block mx-2">
                    <p>Import URL from Chrome extension</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form method="POST" enctype="multipart/form-data" class="border p-2 mt-3 bookmark-move-form">
                        <fieldset>
                            <legend>Import Bookmark</legend>
                            <button type="button" id="scrape-url" class="btn btn-warning mt-2">Scrape URL</button>
                            <div class="mb-2"><small id="scrape-msg">&nbsp;</small></div>
                            {% csrf_token %}
                            {% for field in import_url_form.visible_fields %}
                            <div>{{ field.label }}</div>
                            <div>{{ field.errors }}</div>
                            {% if field.label == 'Url' %}
                            <small id="url-validation-result">Url status: Valid</small>
                            {% endif %}
                            <div>{{ field }}</div>
                            <div>{{ field.help_text }}</div>
                            {% endfor %}
                            <img id="img-preview" class="my-2" src="
                                {% if scraped_icon %}
                                data:image/png;base64,{{ scraped_icon }}
                                {% else %}
                                {% static 'img/no_img_scrape.png' %}
                                {% endif %}
                                " alt="preview" />
                            <!-- hidden field to hold scraped base64 image -->
                            <input type="hidden" id="scraped_img" name="scraped_img" {% if scraped_icon %}
                                value="data:image/png;base64,{{ scraped_icon }}" {% endif %}>
                            <hr>
                            <div class="mt-3">
                                {{ move_bookmark_form.as_p }}
                            </div>

                            <!-- dislay message if user has no collections to add bookmark to -->
                            {% if collection_count == 0 %}
                            {% include 'links/components/no_collections.html' %}
                            {% endif %}

                            <input type="submit" value="Import" name="import-url-form" class="btn btn-info"
                                {% if collection_count == 0 %}disabled{% endif %}>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- banner ad -->
        {% include 'components/advert.html' with advert_path="img/ads/banner.png" %}

    </div>
</div>


{% endblock %}

{% block csrf_js %}
<script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}