{% extends 'base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}
{% load icon_styling %}

{% block page_title %}Import URL{% endblock %}

{% block content %}

<div id="import-url" {% if autoscrape %}data-autoscrape="true" {% endif %}>

    <!-- messages -->
    {% include 'components/messages.html' %}

    <div class="container app-min-height">
        <div class="row">
            <div class="col-12 col-md-11 col-lg-9 col-xl-8 mt-4 mx-auto p-3 mt-3">
                <form method="POST" enctype="multipart/form-data" class="p-2 mt-3" novalidate>
                    <h4 class="mb-4"><i class="fa fa-stop mr-2" aria-hidden="true"></i>Import url</h4>
                    <button type="button" id="scrape-url" class="btn--autofill"><i class="fa fa-magic"
                            aria-hidden="true"></i>AUTOFILL</button>
                    <div class="mb-2"><small id="scrape-msg">&nbsp;</small></div>
                    {% csrf_token %}

                    <!-- render form -->
                    {% for field in bookmark_form.visible_fields %}
                    {% if field.label != 'Icon' %}
                    <div>{{ field|as_crispy_field }}</div>
                    {% if field.label == 'Url' %}
                    <div class="url-validation-wrapper">
                        <small id="url-validation-result" class="">Url status: <span
                                class="status status-valid">Valid</span></small>
                        <span class="fa-stack tippy-i tippy-url-validation">
                            <i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-info fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
                    </div>
                    {% endif %}

                    {% else %}
                    <!-- render icon field -->
                    <div class="mb-2">Icon</div>
                    <div class="custom-file">
                        <input type="file" accept=".png, .jpg, .jpeg, .ico" name="icon" class="custom-file-input"
                            id="id_icon">
                        <label class="custom-file-label" for="customFile"
                            {% if field.errors %}style="border: 1px solid #dc3545" {% endif %}>Choose file</label>
                        <div class="list-unstyled icon-errors">{{ field.errors|striptags }}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    <div>
                        <small>Upload your own, use autofill to get the site icon directly, or allow
                            the app to create one for you.</small>
                    </div>

                    <!-- icon display -->
                    <div class="my-4">
                        <div class="mb-2">Icon Preview</div>
                        {% if saved_icon_data %}
                        <!-- if form has non icon errors and previous image has been saved -->
                        <img id="img-preview" src="{{ saved_icon_data }}">

                        {% else %}
                        <!-- if form has no errors -->
                        <img id="img-preview" class="icon-display-hide">
                        {% endif %}

                        <div id="default-icon" class="{% if saved_icon_data %}icon-display-hide{% endif %}">
                            <div class="no-icon">
                                <span class="icon-text"></span>
                            </div>
                        </div>
                    </div>

                    <button type="button" id="use-default-icon" class="btn--purple">Use Default Icon</button>

                    <!-- hidden field to hold scraped base64 image -->
                    <input type="hidden" id="scraped_img" name="scraped_img"
                        value="{% if bookmark_form.errors or move_bookmark_form.errors %}{{ saved_icon_data }}{% endif %}">

                    <!-- hidden field to show if user has opted to use a default icon -->
                    <input type="hidden" id="use-default" name="use-default"
                        value="{% if use_default_icon %}use-default-icon{% endif %}">

                    <!-- bookmark destination form -->
                    <div class="row mt-3">
                        {% for field in move_bookmark_form %}
                        <div class="col-12 col-xl-6">
                            {{ field|as_crispy_field}}
                        </div>
                        {% endfor %}
                    </div>

                    <hr>
                    <input type="submit" value="Add Bookmark" name="import-url-form" class="btn--standard">
                    <a href="{% url 'start_app' %}" class="btn--faded ml-2" role="button"><span>Cancel</span></a>
                    
                </form>
            </div>
        </div>
    </div>
    <!-- banner ad -->
    {% include 'components/advert.html' %}
</div>


{% endblock %}

{% block tippy_js %}
<script src="https://unpkg.com/tippy.js@5"></script>
<script src="{% static 'js/tooltip.js' %}"></script>
{% endblock tippy_js %}

{% block csrf_js %}
<script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}