{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Links{% endblock %}

{% block content %}

{% load replace_space %}

<div class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'links/components/sidebar_links.html' %}

    <!-- Content -->
    <div id="content">
        {% include 'top-nav.html' %}

        <!-- messages -->
        {% include 'messages.html' %}

        <div class="container-fluid">
            <div class="row">
                <!-- section to choose number of columns - temp -->
                <div class="d-inline-block mx-2">
                    <span>
                        Columns:
                        {% with ''|center:5 as range %}
                        {% for _ in range %}
                        <a class="btn btn-sm btn-primary {% if forloop.counter == num_of_columns %}active{% endif %}"
                            href="{% url 'change_num_columns' page=page num=forloop.counter %}"
                            role="button">{{ forloop.counter }}</a>
                        {% endfor %}
                        {% endwith %}
                    </span>
                    <span class="ml-5">
                        <a href="{% url 'arrange_collections' page=page %}" class="btn btn-sm btn-info"
                            role="button">Arrange Collections</a>
                    </span>
                </div>
            </div>
            <div id="{{ page }}" class="row">
                {% for column in bm_data %}
                <div class="column" style="width: {{ column_width }}%">
                    {% if column %}
                    {% for k, v in column.items %}

                    <!-- Render Collection Title & Options -->
                    <div id="{{ k }}" style="padding: 1rem">

                        <div class="collection-container">
                            <div class="collection-title">
                                <span class="collection-title-text">{{ k }}</span>
                            </div>
                            <div class="collection-icons">
                                <span class="mx-0 px-1 cursor-pointer"><i class="fa fa-trash-o text-danger"
                                        aria-hidden="true" data-toggle="modal"
                                        data-target="#modal-{{ k|replace_space }}"></i></span>
                                <span class="mx-0 px-1 cursor-pointer rename-collection"><i class="fa fa-cog text-dark"
                                        aria-hidden="true"></i></span>
                            </div>
                        </div>

                        <!-- Rename Collection Form -->
                        <form method="POST" class="rename-collection-form p-2" {% if edit_page_form.errors %}
                            style="display: block;" {% endif %}>
                            {% csrf_token %}
                            <div>Rename Collection</div>
                            <input type="text" name="new-collection-name">
                            <input type="hidden" name="collection-position" value="{{k.position}}">
                            <input type="submit" name="rename-collection-form" class="btn btn-info btn-sm mt-1">
                        </form>
                        <ul class="bookmark-sort list-unstyled">
                            <!-- Render Individual Bookmarks -->
                            {% for item in v %}
                            <li id="{{item.position}}_." style="margin: 0.5rem">
                                <a href="{{ item }}" target="_blank" class="bm-link text-decoration-none">
                                    <div class="bm-container">
                                        <div class="bm-title">
                                            <span class="bm-title-text">{{ item.title }}</span>
                                            <!-- <span class="bm-options-icon"><i class="fa fa-lg fa-caret-down bm-icon-toggle"
                                                aria-hidden="true"></i></span> -->
                                            <span
                                                class="btn btn-sm btn-outline-secondary bm-options-icon bm-icon-toggle"
                                                role="button">
                                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                <small">Options</small">
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <div class="bm-icons-show-hide">
                                    <div class="bm-icons-container">
                                        <a href="{% url 'edit_bookmark' page=page bookmark=item.pk %}"
                                            class="btn btn-outline-secondary bm-icon" role="button">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            <small class="ml-1">Edit</small>
                                        </a>
                                        <a href="{% url 'move_bookmark' page=page bookmark=item.pk %}"
                                            class="btn btn-outline-secondary bm-icon" role="button">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                            <small class="ml-1">Move</small>
                                        </a>
                                        <button class="btn btn-outline-secondary bm-icon" data-toggle="modal"
                                            data-target="#modal-bm-{{ item.pk }}"><i class="fa fa-trash"
                                                aria-hidden="true"></i><small class="ml-1">Delete</small></button>
                                    </div>
                                </div>
                                <a href="{{ item }}" target="_blank" class="bm-link text-decoration-none">
                                    <div class="link-desc text-trunc">{{ item.description }}</div>
                                    <div class="link-url text-trunc">{{ item }}</div>
                                </a>
                            </li>
                            <!-- Bookmark Delete Modal -->
                            {% include 'links/components/bookmark_delete_modal.html' with bookmark=item.pk %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Collection Delete Modal -->
                    {% include 'links/components/collection_delete_modal.html' with collection=k %}

                    {% endfor %}
                    {% include 'links/components/add_new_collection.html' with column=forloop.counter %}
                    {% else %}
                    <!-- put an 'add collection to this column' button here -->
                    {% include 'links/components/add_new_collection.html' with column=forloop.counter is_empty='yes' %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- banner ad -->
        {% include 'advert.html' with advert_path="img/ads/banner.png" %}

    </div>
</div>

{% include 'links/components/collection_delete_modal.html' with collection=k %}

{% endblock %}

{% block csrf_js %}
<script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}