{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Links | {{ page|title }}{% endblock %}

{% block content %}

{% load replace_space %}
{% load icon_size %}

<div class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'links/components/sidebar_links.html' %}

    <!-- Content -->
    <div id="content">
        {% include 'top-nav.html' %}

        <!-- messages -->
        {% include 'messages.html' %}

        <div class="container-fluid">
            <div class="row">
                <!-- section to choose number of columns - temp -->
                <div class="d-inline-block mx-2">
                    <span>
                        Columns:
                        {% with ''|center:5 as range %}
                        {% for _ in range %}
                        <a class="btn btn-sm btn-primary {% if forloop.counter == num_of_columns %}active{% endif %}"
                            href="{% url 'change_num_columns' page=page num=forloop.counter %}"
                            role="button">{{ forloop.counter }}</a>
                        {% endfor %}
                        {% endwith %}
                    </span>
                    <span class="ml-5">
                        <a href="{% url 'arrange_collections' page=page %}" class="btn btn-sm btn-info"
                            role="button">Arrange Collections</a>
                    </span>
                </div>
            </div>
            <div id="{{ page }}" class="row page-name">
                {% for column in bm_data %}
                <div class="column" style="width: {{ column_width }}%">
                    {% if column %}
                    {% for k, v in column.items %}

                    <!-- Render Collection Title & Options -->
                    <div id="{{ k }}" class="collection-name" style="padding: 1rem">

                        <div class="collection-container">
                            <div class="collection-title">
                                <span class="collection-title-text">{{ k }}</span>
                            </div>
                            <div class="collection-icons">
                                <span class="mx-0 px-1 cursor-pointer"><i class="fa fa-trash-o text-danger"
                                        aria-hidden="true" data-toggle="modal"
                                        data-target="#modal-{{ k|replace_space }}"></i></span>
                                <span class="mx-0 px-1 cursor-pointer rename-collection"><i class="fa fa-cog text-dark"
                                        aria-hidden="true"></i></span>
                            </div>
                        </div>

                        <!-- Rename Collection Form -->
                        <form method="POST" class="rename-collection-form p-2" {% if edit_page_form.errors %}
                            style="display: block;" {% endif %}>
                            {% csrf_token %}
                            <div>Rename Collection</div>
                            <input type="text" name="new-collection-name">
                            <input type="hidden" name="collection-position" value="{{k.position}}">
                            <input type="submit" name="rename-collection-form" class="btn btn-info btn-sm mt-1">
                        </form>

                        <!-- Bookmark Display Options -->
                        <div class="mt-1">
                            <button type="button" class="coll-display-btn btn btn-sm btn-primary"
                                {% if k.display_mode == 1 %}disabled{% endif %} data-coll-id="{{ k.id }}"
                                data-display-mode="1">Full</button>
                            <button type="button" class="coll-display-btn btn btn-sm btn-primary"
                                {% if k.display_mode == 2 %}disabled{% endif %} data-coll-id="{{ k.id }}"
                                data-display-mode="2">Normal</button>
                            <button type="button" class="coll-display-btn btn btn-sm btn-primary"
                                {% if k.display_mode == 3 %}disabled{% endif %} data-coll-id="{{ k.id }}"
                                data-display-mode="3">Minimal</button>
                        </div>

                        <!-- Bookmark Sort Options -->
                        <div class="btn-group mt-1" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort By...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item {% if k.sort_order == 0 %}active{% endif %}"
                                    href="{% url 'update_sort_order' page=page collection=k sort=0 %}"><i
                                        class="fa fa-sort mr-2" aria-hidden="true"></i>Manual Sort</a>
                                <a class="dropdown-item {% if k.sort_order == 1 %}active{% endif %}"
                                    href="{% url 'update_sort_order' page=page collection=k sort=1 %}"><i
                                        class="fa fa-angle-double-up mr-2" aria-hidden="true"></i>Name</a>
                                <a class="dropdown-item {% if k.sort_order == 2 %}active{% endif %}"
                                    href="{% url 'update_sort_order' page=page collection=k sort=2 %}"><i
                                        class="fa fa-angle-double-down mr-2" aria-hidden="true"></i>Name</a>
                                <a class="dropdown-item {% if k.sort_order == 3 %}active{% endif %}"
                                    href="{% url 'update_sort_order' page=page collection=k sort=3 %}"><i
                                        class="fa fa-angle-double-up mr-2" aria-hidden="true"></i>Date Added</a>
                                <a class="dropdown-item {% if k.sort_order == 4 %}active{% endif %}"
                                    href="{% url 'update_sort_order' page=page collection=k sort=4 %}"><i
                                        class="fa fa-angle-double-down mr-2" aria-hidden="true"></i>Date Added</a>
                                <a class="dropdown-item {% if k.sort_order == 5 %}active{% endif %}"
                                    href="{% url 'update_sort_order' page=page collection=k sort=5 %}"><i
                                        class="fa fa-angle-double-up mr-2" aria-hidden="true"></i>Date Updated</a>
                                <a class="dropdown-item {% if k.sort_order == 6 %}active{% endif %}"
                                    href="{% url 'update_sort_order' page=page collection=k sort=6 %}"><i
                                        class="fa fa-angle-double-down mr-2" aria-hidden="true"></i>Date Updated</a>
                            </div>
                        </div>

                        <div class="bm-sort-container">
                            <ul class="bookmark-sort list-unstyled {% if k.sort_order != 0 %}no-manual-sort{% endif %}">
                                <!-- Render Individual Bookmarks -->
                                {% for item in v %}
                                <li id="{{item.position}}_." class="d-flex" style="margin: 0.5rem;">
                                    <!-- icon image -->
                                    <img src="{% static 'img/icon/_default_bm_icon.png' %}" alt="icon"
                                        class="my-auto" style="
                                            width:{{ k.display_mode|icon_size }}px;
                                            height:{{ k.display_mode|icon_size }}px;">
                                    <div class="bm-text-container">
                                        <a href="{{ item }}" target="_blank" class="bm-link text-decoration-none">
                                            <div class="bm-container">
                                                <div class="bm-title">
                                                    <span class="bm-title-text">{{ item.title }}</span>
                                                    <span
                                                        class="btn btn-sm btn-outline-secondary bm-options-icon bm-icon-toggle"
                                                        role="button">
                                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                        <small>Options</small>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>

                                        <!-- Bookmark Icons -->
                                        {% include 'links/components/bookmark_option_icons.html' %}

                                        {% if k.display_mode != 3 %}
                                        <a href="{{ item }}" target="_blank" class="bm-link text-decoration-none">
                                            {% if k.display_mode != 2 %}
                                            <div class="link-desc text-trunc">{{ item.description }}</div>
                                            {% endif %}
                                            <div class="link-url text-trunc">{{ item }}</div>
                                        </a>
                                        {% endif %}
                                    </div>
                                </li>
                                <!-- Bookmark Delete Modal -->
                                {% include 'links/components/bookmark_delete_modal.html' with bookmark=item.pk %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Collection Delete Modal -->
                    {% include 'links/components/collection_delete_modal.html' with collection=k %}

                    {% endfor %}
                    {% include 'links/components/add_new_collection.html' with column=forloop.counter %}
                    {% else %}
                    <!-- put an 'add collection to this column' button here -->
                    {% include 'links/components/add_new_collection.html' with column=forloop.counter is_empty='yes' %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <!-- No Collections Box -->
            {% if no_collections %}
            <div class="row justify-content-center mt-3">
                <div class="col-10 col-lg-6 border border-danger text-center">
                    <h3>This page has no collections</h3>
                    <h5>Bookmarks need to be placed within a collection</h5>
                    <h5>Add one now</h5>
                    <form method="POST" class="add-collection p-2">
                        {% csrf_token %}
                        <input type="hidden" name="column" value="1">
                        <input type="hidden" name="is_empty" value="yes">
                        <input type="text" name="collection_name">
                        <input type="submit" name="add-collection" value="Add Collection"
                            class="btn btn-sm btn-warning my-3">
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        <!-- banner ad -->
        {% include 'advert.html' with advert_path="img/ads/banner.png" %}

    </div>
</div>

{% endblock %}

{% block csrf_js %}
<script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}