{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}Links | {{ page|title }}{% endblock %}

{% block content %}

{% load replace_space %}
{% load icon_styling %}
{% load modal_id_gens %}

<div id="app" class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'links/components/sidebar_links.html' %}

    <!-- Content -->
    <div id="content">
        {% include 'components/top-nav.html' %}

        <!-- messages -->
        {% include 'components/messages.html' %}

        <div class="container-fluid app-min-height">
            <div id="{{ page }}" class="row page-name">
                {% for column in bm_data %}
                <div class="column" style="width: {{ column_width }}%">
                    {% if column %}
                    {% for k, v in column.items %}

                    <!-- Render Collection Title & Options -->
                    <div id="{{ k }}" class="collection-name p-3">

                        <div class="collection-container">
                            <div class="collection-title">
                                <span class="collection-title-text">{{ k }}</span>
                            </div>
                            <div class="collection-icons">
                                <!-- manual sort button -->
                                <button id="bm-sort-btn-{{ k.position }}" class="mx-0 cursor-pointer btn--collection-header
                                        {% if collection_being_sorted == k.name %}manual-sort-on {% endif %}"
                                    {% if k.sort_order != 0 %}disabled{% endif %}>
                                    <i class="fa fa-sort {% if k.sort_order != 0 %}tippy-manual-bm-sort{% endif %}"
                                        aria-hidden="true"></i></button>
                                <!-- bookmark options button -->
                                <button class="mx-0 cursor-pointer btn--collection-header btn--collection-options">
                                    <i class="fa fa-cog" aria-hidden="true"></i></button>
                            </div>
                        </div>

                        <div class="display-toggle">
                            <div class="pt-2 pb-3 px-3 text-center collection-options">
                                <!-- Bookmark Sort Options -->
                                <div id="bookmark-sort-options" class="btn-group mt-2 mx-1" role="group">
                                    <button id="dropdown-sort-options" type="button"
                                        class="btn--standard btn-sm dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Sort By...
                                    </button>
                                    <div class="dropdown-menu dropdown-slide-effect" aria-labelledby="dropdown-sort-options">
                                        <a class="dropdown-item {% if k.sort_order == 0 %}active{% endif %}"
                                            href="{% url 'update_sort_order' page=page collection=k sort=0 %}"><i
                                                class="fa fa-sort mr-2" aria-hidden="true"></i>Manual Sort</a>
                                        <a class="dropdown-item {% if k.sort_order == 1 %}active{% endif %}"
                                            href="{% url 'update_sort_order' page=page collection=k sort=1 %}"><i
                                                class="fa fa-angle-double-up mr-2" aria-hidden="true"></i>Name</a>
                                        <a class="dropdown-item {% if k.sort_order == 2 %}active{% endif %}"
                                            href="{% url 'update_sort_order' page=page collection=k sort=2 %}"><i
                                                class="fa fa-angle-double-down mr-2" aria-hidden="true"></i>Name</a>
                                        <a class="dropdown-item {% if k.sort_order == 3 %}active{% endif %}"
                                            href="{% url 'update_sort_order' page=page collection=k sort=3 %}"><i
                                                class="fa fa-angle-double-up mr-2" aria-hidden="true"></i>Date Added</a>
                                        <a class="dropdown-item {% if k.sort_order == 4 %}active{% endif %}"
                                            href="{% url 'update_sort_order' page=page collection=k sort=4 %}"><i
                                                class="fa fa-angle-double-down mr-2" aria-hidden="true"></i>Date
                                            Added</a>
                                        <a class="dropdown-item {% if k.sort_order == 5 %}active{% endif %}"
                                            href="{% url 'update_sort_order' page=page collection=k sort=5 %}"><i
                                                class="fa fa-angle-double-up mr-2" aria-hidden="true"></i>Date
                                            Updated</a>
                                        <a class="dropdown-item {% if k.sort_order == 6 %}active{% endif %}"
                                            href="{% url 'update_sort_order' page=page collection=k sort=6 %}"><i
                                                class="fa fa-angle-double-down mr-2" aria-hidden="true"></i>Date
                                            Updated</a>
                                    </div>
                                </div>

                                <!-- Bookmark Display Options -->
                                <div id="bookmark-display-options" class="btn-group mt-2 mx-1" role="group">
                                    <button id="dropdown-display-options" type="button"
                                        class="btn--standard btn-sm dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Display As...
                                    </button>
                                    <div class="dropdown-menu dropdown-slide-effect" aria-labelledby="dropdown-display-options">
                                        <button
                                            class="dropdown-item coll-display-btn {% if k.display_mode == 1 %}active{% endif %}"
                                            data-coll-id="{{ k.id }}" data-display-mode="1">Full</button>
                                        <button
                                            class="dropdown-item coll-display-btn {% if k.display_mode == 2 %}active{% endif %}"
                                            data-coll-id="{{ k.id }}" data-display-mode="2">Normal</button>
                                        <button
                                            class="dropdown-item coll-display-btn {% if k.display_mode == 3 %}active{% endif %}"
                                            data-coll-id="{{ k.id }}" data-display-mode="3">Minimal</button>


                                    </div>
                                </div>
                                <!-- <hr class="w-25 my-2"> -->

                                <!-- Rename Collection Form -->
                                <form method="POST" class="rename-collection-form mt-3">
                                    {% csrf_token %}
                                    <div><small>Rename Collection</small></div>
                                    <input type="text" class="mb-1" name="new-collection-name">
                                    <input type="hidden" name="collection-position" value="{{k.position}}">
                                    <br />
                                    <input type="submit" name="rename-collection-form"
                                        class="btn--standard btn-sm mt-1 mr-2">
                                    <input type="button" value="Delete" class="btn--red btn-sm" data-toggle="modal"
                                        data-target="#modal-{{ k|replace_space }}">
                                </form>
                            </div>
                        </div>

                        <div class="bm-sort-container">
                            <ul class="bookmark-sort list-unstyled {% if k.sort_order != 0 %}no-manual-sort{% endif %}">
                                <!-- Render Individual Bookmarks -->
                                {% for item in v %}
                                <li id="{{item.position}}_." class="bookmark-styling 
                                        {% if collection_being_sorted != k.name %}bookmark-border{% endif %}">
                                    <div
                                        class="bm-handle-container d-flex 
                                            {% if collection_being_sorted == k.name %}bm-sort-handle {% endif %}
                                            {% if collection_being_sorted == k.name and num_of_columns == 1 %}add-scroll-space{% endif %}">
                                        <!-- icon image -->
                                        <a href="{{ item }}" target="_blank"
                                            class="bm-link text-decoration-none d-flex">
                                            {% if item.icon %}
                                            <img src="{{ MEDIA_URL }}{{ item.icon }}" alt="icon" class="my-auto" style="
                                            width:{{ k.display_mode|icon_size }}px;
                                            height:{{ k.display_mode|icon_size }}px;
                                            flex-shrink: 0;">
                                            {% else %}
                                            <div class="default-icon my-auto" style="
                                            width:{{ k.display_mode|icon_size }}px;
                                            height:{{ k.display_mode|icon_size }}px;
                                            background-color:{{ item.title|icon_color }};
                                            font-size:{{ k.display_mode|icon_font_size }}px;
                                            ">
                                                <span class="icon-text">{{ item.title|icon_letter }}</span>
                                            </div>
                                            {% endif %}
                                        </a>

                                        <div class="bm-text-container mr-3">
                                            <a href="{{ item }}" target="_blank" class="bm-link text-decoration-none">
                                                <div class="bm-container">
                                                    <div class="bm-title">
                                                        <span class="bm-title-text">{{ item.title }}</span>
                                                    </div>
                                                </div>
                                            </a>

                                            {% if k.display_mode != 3 %}
                                            <a href="{{ item }}" target="_blank" class="bm-link text-decoration-none">
                                                {% if k.display_mode != 2 %}
                                                <div class="link-desc text-trunc tippy-desc">{{ item.description }}
                                                </div>
                                                {% endif %}
                                                <div class="link-url text-trunc">{{ item }}</div>
                                            </a>
                                            {% endif %}
                                        </div>

                                        <!-- bookmark options dropdown -->
                                        <div
                                            class="bm-options-icon {% if collection_being_sorted == k.name %}display-toggle{% endif %}">
                                            <div id="bookmark-options" class="qbtn-group">
                                                <div id="dropdown-bm-options" type="button"
                                                    class="bm-options bm-options-{{ k.display_mode }}"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                                                </div>
                                                <!-- dropdown choices -->
                                                <div class="dropdown-menu bookmark-options-effect-{{ k.display_mode }}"
                                                    aria-labelledby="dropdown-bm-options">
                                                    <a class="dropdown-item"
                                                        href="{% url 'edit_bookmark' page=page bookmark=item.pk %}"><i
                                                            class="fa fa-pencil-square-o mr-2"
                                                            aria-hidden="true"></i>Edit</a>
                                                    <a class="dropdown-item"
                                                        href="{% url 'move_bookmark' page=page bookmark=item.pk %}"><i
                                                            class="fa fa-arrows-alt mr-2"
                                                            aria-hidden="true"></i>Move</a>
                                                    <button class="dropdown-item" data-toggle="modal"
                                                        data-target="#modal-bm-{{ item.pk }}"><i
                                                            class="fa fa-trash mr-2"
                                                            aria-hidden="true"></i>Delete</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <!-- Bookmark Delete Modal -->
                                {% include 'links/components/delete_modal.html' with id=item.pk|bookmark_id item_to_delete=item.pk object=item.url params=bm_delete_modal %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Collection Delete Modal -->
                    {% include 'links/components/delete_modal.html' with id=k|collection_id item_to_delete=k object=k params=collection_delete_modal %}

                    {% endfor %}
                    {% include 'links/components/add_new_collection.html' with column=forloop.counter %}
                    {% else %}
                    <!-- put an 'add collection to this column' button here -->
                    {% include 'links/components/add_new_collection.html' with column=forloop.counter is_empty='yes' %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <!-- No Collections Box -->
            {% if no_collections %}
            <div class="row justify-content-center mt-5">
                <div class="col-10 col-lg-6 col-xl-4 text-center p-4 no-collections-box">
                    <h3 class="mb-4">This page has no collections</h3>
                    <h5>Bookmarks need to be placed within a collection</h5>
                    <form method="POST" class="add-collection p-2">
                        {% csrf_token %}
                        <input type="hidden" name="column" value="1">
                        <input type="hidden" name="is_empty" value="yes">
                        <input type="text" name="collection_name" class="mt-3"><br />
                        <input type="submit" name="add-collection" value="Add Collection"
                            class="btn--white btn-sm my-2">
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        <!-- banner ad -->
        {% include 'components/advert.html' %}

    </div>
</div>

<script>
    // pass value for number of columns being displayed & page name to js as
    // ui differs based on if user has selected 1 column or > 1
    var numColumns = "{{ num_of_columns }}"
    var pageName = "{{ page }}"
</script>

{% endblock %}

{% block screen_width %}
{% include 'components/width_warning.html' %}
{% endblock screen_width %}

{% block tippy_js %}
<script src="https://unpkg.com/tippy.js@5"></script>
<script src="{% static 'js/tooltip.js' %}"></script>
{% endblock tippy_js %}

{% block csrf_js %}
<script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}