{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Arrange{% endblock %}

{% block content %}

<div class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'links/components/sidebar_links.html' %}

    <!-- Content -->
    <div id="content">
        {% include 'top-nav.html' %}

        <!-- messages -->
        {% include 'messages.html' %}

        <div class="container-fluid">
            <div class="row">
                <!-- section to choose number of columns - temp -->
                <div class="d-inline-block mx-2">
                    <p>Here you can move a bookmark</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form method="POST" class="border p-2 mt-3">
                        <fieldset>
                            <legend>Move Bookmark</legend>
                            {% csrf_token %}



                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- banner ad -->
        {% include 'advert.html' with advert_path="img/ads/banner.png" %}

    </div>
</div>


{% endblock %}

{% block csrf_js %}
<script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}