<nav id="sidebar">
    <div>
        <h3 class="text-center">LOGO HERE</h3>
    </div>
    <hr>
    <div>
        <h3 class="text-center">Add BM Button</h3>
    </div>
    <hr>
    <div>
        <h3 class="text-center">BIG ASS AD</h3>
        <h3 class="text-center">IS HERE</h3>
    </div>
    <hr>
    <ul>
        <h5>Settings</h5>
        <li>
            <a class="nav-link" href="{% url 'premium' %}">Premium</a>
        </li>

        <li>
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>

        <li>
            <a class="nav-link" href="{% url 'support' %}">Support</a>
        </li>

        <li>
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
    </ul>
</nav>