<nav class="navbar navbar-expand navbar-light bg-faded">
    <ul class="navbar-nav d-flex float-left">
        <li class="nav-item px-2 d-inline d-md-none sidebarToggle">
            <a class="nav-link" href="#"><i class="fa fa-bars
                " aria-hidden="true"></i></a>
        </li>
    </ul>
    <div class="navbar-collapse collapse justify-content-around">
        <form class="mx-2 my-auto d-none d-sm-inline w-100">
            <div class="input-group">
                <input type="text" class="form-control border border-right-0" placeholder="Search Bookmarks...">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary border border-left-0" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <ul id="topnav-icons" class="navbar-nav">
            <li class="nav-item px-2 d-inline d-sm-none">
                <a class="nav-link" href="#"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="#"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="#"><i class="fa fa-bookmark fa-2x" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="{% url 'profile' %}"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out fa-2x"
                        aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>