{% extends 'base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block page_title %}Support{% endblock %}

{% block content %}

<div class="flex-wrapper">

    <!-- Sidebar -->
    {% include 'accounts/components/sidebar_settings.html' %}

    <!-- Content -->
    <div id="content" class="icon-tile-bg-wrapper">
        <div class="bg-fade">
            {% include 'components/top-nav.html' %}

            <!-- messages -->
            {% include 'components/messages.html' %}

            <!-- main content -->
            <div id="support" class="container app-min-height">
                <div class="row">
                    <div class="col-12 col-md-11 col-lg-9 col-xl-8 mt-4 mx-auto">

                        <!-- premium support -->
                        <section class="section-square-wrapper bg-white mb-4">
                            <div class="section-square square-left"><strong>Premium Member Benefit</strong></div>
                            <div class="my-5 premium-tel-box text-center">
                                <h4 class="mb-4"><i class="fa fa-stop mr-2" aria-hidden="true"></i>Priority Telephone
                                    Support</h4>
                                {% if is_premium %}
                                <h2><span class="badge badge-dark m-2 p-2">01632 442442</span></h2>
                                <hr class="w-50 my-4">
                                <h6>Please have your username and email address ready</h6>
                                {% else %}
                                <div>
                                    <a href="{% url 'premium' %}" class="btn--square mt-1"><span><small>Go
                                        Premium</small></span></a>
                                </div>
                                <hr class="w-50 my-4">
                                <h6>Become a Premium member and get instant support</h6>
                                {% endif %}

                            </div>
                        </section>


                        <!-- support form -->
                        <section class="p-2 p-lg-4 mb-5 form-border bg-white-lg-screens">
                            <h4 class="pt-1"><i class="fa fa-stop mr-2" aria-hidden="true"></i>Support Request
                                Form</h4>
                            <form method="POST" novalidate>
                                {% csrf_token %}
                                {{ support_request_form|crispy}}
                                <input type="submit" value="Send" name="support-form" class="btn--standard mt-2">
                                <div class="my-1">
                                    <small>A copy of your support request will be emailed to
                                        {{ user.email }}</small>
                                </div>
                            </form>
                        </section>

                    </div>
                </div>
            </div>
            <!-- banner ad -->
            {% include 'components/advert.html' %}

        </div>
    </div>
</div>

{% endblock %}